analemma-workflow-os/backend/src/aws_step_functions.json
{
  "Comment": "사용자 워크플로우를 세그먼트 단위로 실행하고, HITP를 처리하는 오케스트레이터",
  "StartAt": "CheckForInjectedConfig",
  "States": {
    "CheckForInjectedConfig": {
      "Type": "Choice",
      "Comment": "MOCK_MODE가 true이고 테스트 설정이 있으면 DynamoDB 우회",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.MOCK_MODE",
              "StringEquals": "true"
            },
            {
              "Variable": "$.test_workflow_config",
              "IsPresent": true
            }
          ],
          "Next": "InitializeStateData"
        }
      ],
      "Default": "CheckForExistingExecution"
    },
    "CheckForExistingExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Comment": "[2순위 최적화] Direct SDK Integration: Lambda Cold Start 제거. DynamoDB에서 직접 idempotency_key 조회",
      "Parameters": {
        "TableName": "${IdempotencyTable}",
        "Key": {
          "idempotency_key": {
            "S.$": "$.idempotency_key"
          }
        },
        "ProjectionExpression": "executionArn, #st",
        "ExpressionAttributeNames": {
          "#st": "status"
        }
      },
      "ResultSelector": {
        "existing_execution_arn.$": "$.Item.executionArn.S",
        "existing_execution_status.$": "$.Item.status.S"
      },
      "ResultPath": "$.idempotency_check_result",
      "Retry": [
        {
          "ErrorEquals": [
            "DynamoDB.ServiceException",
            "DynamoDB.ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0,
          "Comment": "DynamoDB 일시적 오류에 대한 재시도"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "멱등성 체크 실패 시 안전한 처리",
          "ResultPath": "$.idempotency_error",
          "Next": "HandleIdempotencyFailure"
        }
      ],
      "Next": "HandleExistingExecution"
    },
    "HandleIdempotencyFailure": {
      "Type": "Choice",
      "Comment": "멱등성 체크 실패 시 안전 모드 확인",
      "Choices": [
        {
          "Variable": "$.ALLOW_UNSAFE_EXECUTION",
          "BooleanEquals": true,
          "Next": "InitializeStateData"
        }
      ],
      "Default": "FailIdempotencyUnavailable"
    },
    "FailIdempotencyUnavailable": {
      "Type": "Fail",
      "Error": "IdempotencyCheckFailed",
      "Cause": "Unable to verify execution uniqueness. DynamoDB idempotency check failed and unsafe execution is not allowed."
    },
    "HandleExistingExecution": {
      "Type": "Choice",
      "Comment": "If an existing execution is found, decide whether to resume or fail",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.idempotency_check_result.existing_execution_arn",
              "IsPresent": true
            },
            {
              "Variable": "$.idempotency_check_result.existing_execution_status",
              "StringEquals": "RUNNING"
            }
          ],
          "Next": "FailDuplicateExecution"
        },
        {
          "And": [
            {
              "Variable": "$.idempotency_check_result.existing_execution_arn",
              "IsPresent": true
            },
            {
              "Variable": "$.idempotency_check_result.existing_execution_status",
              "StringEquals": "SUCCEEDED"
            }
          ],
          "Next": "SucceedDuplicateExecution"
        }
      ],
      "Default": "InitializeStateData"
    },
    "FailDuplicateExecution": {
      "Type": "Fail",
      "Error": "DuplicateExecution",
      "Cause": "An execution with the same idempotency key is already running."
    },
    "SucceedDuplicateExecution": {
      "Type": "Succeed",
      "Comment": "An execution with the same idempotency key already succeeded."
    },
    "InitializeStateData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "[3순위 최적화] S3 path 로직을 Lambda 내부로 흡수. CheckS3PathPresent, InitializeExecutionWithS3/Inline 제거됨.",
      "Parameters": {
        "FunctionName": "${InitializeStateDataArn}",
        "InvocationType": "RequestResponse",
        "Payload": {
          "input.$": "$"
        }
      },
      "ResultSelector": {
        "workflow_config.$": "$.Payload.workflow_config",
        "current_state.$": "$.Payload.current_state",
        "input.$": "$.Payload.input",
        "state_s3_path.$": "$.Payload.state_s3_path",
        "state_history.$": "$.Payload.state_history",
        "ownerId.$": "$.Payload.ownerId",
        "workflowId.$": "$.Payload.workflowId",
        "segment_to_run.$": "$.Payload.segment_to_run",
        "idempotency_key.$": "$.Payload.idempotency_key",
        "quota_reservation_id.$": "$.Payload.quota_reservation_id",
        "total_segments.$": "$.Payload.total_segments",
        "partition_map.$": "$.Payload.partition_map",
        "partition_map_s3_path.$": "$.Payload.partition_map_s3_path",
        "segment_manifest.$": "$.Payload.segment_manifest",
        "segment_manifest_s3_path.$": "$.Payload.segment_manifest_s3_path",
        "state_durations.$": "$.Payload.state_durations",
        "last_update_time.$": "$.Payload.last_update_time",
        "start_time.$": "$.Payload.start_time",
        "max_loop_iterations.$": "$.Payload.max_loop_iterations",
        "max_branch_iterations.$": "$.Payload.max_branch_iterations",
        "loop_counter.$": "$.Payload.loop_counter",
        "max_concurrency.$": "$.Payload.max_concurrency",
        "distributed_mode.$": "$.Payload.distributed_mode",
        "llm_segments.$": "$.Payload.llm_segments",
        "hitp_segments.$": "$.Payload.hitp_segments"
      },
      "ResultPath": "$.state_data",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.init_error",
          "Next": "HandleInitFailure"
        }
      ],
      "Next": "CheckLargeWorkflow"
    },
    "HandleInitFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "[Fix] InitializeStateData 실패 시 원본 입력에서 ownerId 추출",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${WorkflowEventBusArn}",
            "Source": "backend-workflow.lifecycle",
            "DetailType": "WorkflowLifecycleEvent",
            "Detail": {
              "execution_id.$": "$$.Execution.Id",
              "ownerId.$": "$.ownerId",
              "workflowId.$": "$.workflowId",
              "status": "FAILED",
              "notification_type": "execution_progress",
              "message": "Workflow initialization failed",
              "error.$": "$.init_error"
            }
          }
        ]
      },
      "Next": "InitializationFailed"
    },
    "InitializationFailed": {
      "Type": "Fail",
      "Error": "InitializationFailed",
      "Cause": "Failed to initialize workflow state data"
    },
    "CheckLargeWorkflow": {
      "Type": "Choice",
      "Comment": "Check if workflow is very large (>200 segments) and send monitoring warning",
      "Choices": [
        {
          "Variable": "$.state_data.total_segments",
          "NumericGreaterThan": 200,
          "Next": "NotifyLargeWorkflowWarning"
        }
      ],
      "Default": "NotifyWorkflowStarted"
    },
    "NotifyLargeWorkflowWarning": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "Notify about very large workflow that may approach Event History limits",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${WorkflowEventBusArn}",
            "Source": "backend-workflow.lifecycle",
            "DetailType": "WorkflowLifecycleEvent",
            "Detail": {
              "execution_id.$": "$$.Execution.Id",
              "ownerId.$": "$.state_data.ownerId",
              "workflowId.$": "$.state_data.workflowId",
              "total_segments.$": "$.state_data.total_segments",
              "warning": "Very large workflow detected - monitor Event History usage closely",
              "notification_type": "execution_progress",
              "status": "LARGE_WORKFLOW_WARNING"
            }
          }
        ]
      },
      "ResultPath": "$.large_workflow_warning",
      "Next": "NotifyWorkflowStarted"
    },
    "NotifyWorkflowStarted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "🚀 Fire-and-forget: Publish workflow start event to EventBridge for async processing",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${WorkflowEventBusArn}",
            "Source": "backend-workflow.lifecycle",
            "DetailType": "WorkflowLifecycleEvent",
            "Detail": {
              "TaskToken": "PROGRESS_NOTIFICATION",
              "userId.$": "$.state_data.ownerId",
              "ownerId.$": "$.state_data.ownerId",
              "state_data.$": "$.state_data",
              "conversation_id.$": "$$.Execution.Id",
              "execution_id.$": "$$.Execution.Id",
              "workflowId.$": "$.state_data.workflowId",
              "notification_type": "execution_progress",
              "status": "RUNNING",
              "message": "Workflow started",
              "segment_to_run.$": "$.state_data.segment_to_run"
            }
          }
        ]
      },
      "ResultPath": "$.notification_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "EventBridge publish failure should not stop workflow",
          "ResultPath": "$.notification_error",
          "Next": "ExecuteSegment"
        }
      ],
      "Next": "ExecuteSegment"
    },
    "ExecuteSegment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Execute a single segment of the user workflow",
      "Parameters": {
        "FunctionName": "${ExecuteSegmentArn}",
        "InvocationType": "RequestResponse",
        "Payload": {
          "workflow_config.$": "$.state_data.workflow_config",
          "current_state.$": "$.state_data.current_state",
          "state_history.$": "$.state_data.state_history",
          "ownerId.$": "$.state_data.ownerId",
          "workflowId.$": "$.state_data.workflowId",
          "segment_to_run.$": "$.state_data.segment_to_run",
          "idempotency_key.$": "$.state_data.idempotency_key",
          "quota_reservation_id.$": "$.state_data.quota_reservation_id",
          "total_segments.$": "$.state_data.total_segments",
          "partition_map.$": "$.state_data.partition_map",
          "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
          "max_concurrency.$": "$.state_data.max_concurrency",
          "state_durations.$": "$.state_data.state_durations",
          "last_update_time.$": "$.state_data.last_update_time",
          "start_time.$": "$.state_data.start_time"
        }
      },
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "final_state.$": "$.Payload.final_state",
        "final_state_s3_path.$": "$.Payload.final_state_s3_path",
        "next_segment_to_run.$": "$.Payload.next_segment_to_run",
        "new_history_logs.$": "$.Payload.new_history_logs",
        "error_info.$": "$.Payload.error_info",
        "branches.$": "$.Payload.branches",
        "segment_type.$": "$.Payload.segment_type"
      },
      "ResultPath": "$.execution_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 6,
          "BackoffRate": 2.0,
          "JitterStrategy": "FULL",
          "Comment": "[Concurrency Protection] Lambda 429에 대한 강화된 재시도 - 동시성 슬롯 회복 대기"
        },
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0,
          "Comment": "일반적인 작업 실패에 대한 제한적 재시도"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "PartitionError"
          ],
          "ResultPath": "$.partition_error",
          "Next": "NotifyExecutionFailure"
        },
        {
          "ErrorEquals": [
            "AsyncLLMRequiredException"
          ],
          "ResultPath": "$.async_error",
          "Next": "CheckIfAsyncRequired"
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyExecutionFailure"
        }
      ],
      "Next": "CheckSegmentStatus"
    },
    "CheckSegmentStatus": {
      "Type": "Choice",
      "Comment": "Check execution status: PARALLEL_GROUP, PAUSE, FAILED, or COMPLETE",
      "Choices": [
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "FAILED",
          "Next": "NotifyExecutionFailure"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "PARALLEL_GROUP",
          "Next": "ProcessParallelSegments"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "PAUSED_FOR_ASYNC_LLM",
          "Next": "HandleAsyncLLM"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "PAUSE",
          "Next": "WaitForCallback"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "PAUSED_FOR_HITP",
          "Next": "WaitForCallback"
        }
      ],
      "Default": "CheckForNextSegment"
    },
    "ProcessParallelSegments": {
      "Type": "Map",
      "Comment": "Execute parallel branches inline using a Map state with dynamic concurrency",
      "ItemsPath": "$.execution_result.branches",
      "ResultPath": "$.parallel_results",
      "MaxConcurrencyPath": "$.state_data.max_concurrency",
      "Parameters": {
        "branch_config.$": "$$.Map.Item.Value",
        "branch_id.$": "States.Format('branch_{}', $$.Map.Item.Index)",
        "branch_index.$": "$$.Map.Item.Index",
        "partition_map.$": "$$.Map.Item.Value.partition_map",
        "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
        "segment_manifest.$": "$.state_data.segment_manifest",
        "segment_manifest_s3_path.$": "$.state_data.segment_manifest_s3_path",
        "workflow_config.$": "$.state_data.workflow_config",
        "current_state.$": "$.state_data.current_state",
        "ownerId.$": "$.state_data.ownerId",
        "workflowId.$": "$.state_data.workflowId",
        "idempotency_key.$": "$.state_data.idempotency_key",
        "quota_reservation_id.$": "$.state_data.quota_reservation_id",
        "state_history.$": "$.state_data.state_history",
        "state_durations.$": "$.state_data.state_durations",
        "last_update_time.$": "$.state_data.last_update_time",
        "start_time.$": "$.state_data.start_time",
        "max_loop_iterations.$": "$.state_data.max_loop_iterations",
        "max_branch_iterations.$": "$.state_data.max_branch_iterations",
        "max_concurrency.$": "$.state_data.max_concurrency",
        "distributed_mode.$": "$.state_data.distributed_mode",
        "llm_segments.$": "$.state_data.llm_segments",
        "hitp_segments.$": "$.state_data.hitp_segments"
      },
      "Iterator": {
        "StartAt": "InitializeBranch",
        "States": {
          "InitializeBranch": {
            "Type": "Pass",
            "Parameters": {
              "segment_to_run": 0,
              "branch_id.$": "$.branch_id",
              "partition_map.$": "$.partition_map",
              "partition_map_s3_path.$": "$.partition_map_s3_path",
              "segment_manifest.$": "$.segment_manifest",
              "segment_manifest_s3_path.$": "$.segment_manifest_s3_path",
              "workflow_config.$": "$.workflow_config",
              "current_state.$": "$.current_state",
              "ownerId.$": "$.ownerId",
              "workflowId.$": "$.workflowId",
              "idempotency_key.$": "$.idempotency_key",
              "quota_reservation_id.$": "$.quota_reservation_id",
              "state_history.$": "$.state_history",
              "state_durations.$": "$.state_durations",
              "last_update_time.$": "$.last_update_time",
              "start_time.$": "$.start_time",
              "loop_counter": 0,
              "max_loop_iterations.$": "$.max_loop_iterations",
              "max_branch_iterations.$": "$.max_branch_iterations",
              "max_concurrency.$": "$.max_concurrency",
              "distributed_mode.$": "$.distributed_mode",
              "llm_segments.$": "$.llm_segments",
              "hitp_segments.$": "$.hitp_segments"
            },
            "ResultPath": "$.state_data",
            "Next": "ExecuteBranchSegment"
          },
          "ExecuteBranchSegment": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${ExecuteSegmentArn}",
              "Payload": {
                "workflow_config.$": "$.state_data.workflow_config",
                "current_state.$": "$.state_data.current_state",
                "state_history.$": "$.state_data.state_history",
                "ownerId.$": "$.state_data.ownerId",
                "workflowId.$": "$.state_data.workflowId",
                "segment_to_run.$": "$.state_data.segment_to_run",
                "idempotency_key.$": "$.state_data.idempotency_key",
                "partition_map.$": "$.state_data.partition_map",
                "state_durations.$": "$.state_data.state_durations",
                "last_update_time.$": "$.state_data.last_update_time",
                "start_time.$": "$.state_data.start_time"
              }
            },
            "ResultSelector": {
              "status.$": "$.Payload.status",
              "final_state.$": "$.Payload.final_state",
              "final_state_s3_path.$": "$.Payload.final_state_s3_path",
              "next_segment_to_run.$": "$.Payload.next_segment_to_run",
              "new_history_logs.$": "$.Payload.new_history_logs"
            },
            "ResultPath": "$.execution_result",
            "Next": "CheckBranchNext"
          },
          "CheckBranchNext": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.execution_result.next_segment_to_run",
                "IsPresent": true,
                "Next": "UpdateBranchSegment"
              }
            ],
            "Default": "BranchComplete"
          },
          "UpdateBranchSegment": {
            "Type": "Pass",
            "Parameters": {
              "workflow_config.$": "$.state_data.workflow_config",
              "current_state.$": "$.execution_result.final_state",
              "state_history.$": "$.state_data.state_history",
              "ownerId.$": "$.state_data.ownerId",
              "workflowId.$": "$.state_data.workflowId",
              "segment_to_run.$": "$.execution_result.next_segment_to_run",
              "idempotency_key.$": "$.state_data.idempotency_key",
              "quota_reservation_id.$": "$.state_data.quota_reservation_id",
              "partition_map.$": "$.state_data.partition_map",
              "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
              "segment_manifest.$": "$.state_data.segment_manifest",
              "segment_manifest_s3_path.$": "$.state_data.segment_manifest_s3_path",
              "state_durations.$": "$.state_data.state_durations",
              "last_update_time.$": "$.state_data.last_update_time",
              "start_time.$": "$.state_data.start_time",
              "loop_counter.$": "States.MathAdd($.state_data.loop_counter, 1)",
              "max_loop_iterations.$": "$.state_data.max_loop_iterations",
              "max_branch_iterations.$": "$.state_data.max_branch_iterations",
              "max_concurrency.$": "$.state_data.max_concurrency",
              "distributed_mode.$": "$.state_data.distributed_mode",
              "llm_segments.$": "$.state_data.llm_segments",
              "hitp_segments.$": "$.state_data.hitp_segments"
            },
            "ResultPath": "$.state_data",
            "Next": "CheckBranchLoopLimit"
          },
          "CheckBranchLoopLimit": {
            "Type": "Choice",
            "Comment": "Dynamic branch loop limit based on workflow complexity",
            "Choices": [
              {
                "Variable": "$.state_data.loop_counter",
                "NumericGreaterThanPath": "$.state_data.max_branch_iterations",
                "Next": "BranchLoopLimitExceeded"
              }
            ],
            "Default": "ExecuteBranchSegment"
          },
          "BranchLoopLimitExceeded": {
            "Type": "Fail",
            "Error": "BranchLoopLimitExceeded",
            "Cause": "Parallel branch exceeded maximum loop iterations."
          },
          "BranchComplete": {
            "Type": "Pass",
            "Comment": "[Fix] 브랜치 결과에 상태 및 에러 정보 포함",
            "Parameters": {
              "branch_id.$": "$.state_data.branch_id",
              "branch_status.$": "$.execution_result.status",
              "final_state.$": "$.execution_result.final_state",
              "final_state_s3_path.$": "$.execution_result.final_state_s3_path",
              "new_history_logs.$": "$.execution_result.new_history_logs",
              "error_info.$": "$.execution_result.error_info",
              "branch_executed": true
            },
            "End": true
          }
        }
      },
      "Next": "AggregateParallelResults"
    },
    "AggregateParallelResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Aggregate results from parallel branches.",
      "Parameters": {
        "FunctionName": "${SegmentRunnerArn}",
        "InvocationType": "RequestResponse",
        "Payload": {
          "segment_type": "aggregator",
          "parallel_results.$": "$.parallel_results",
          "workflow_config.$": "$.state_data.workflow_config",
          "current_state.$": "$.state_data.current_state",
          "ownerId.$": "$.state_data.ownerId",
          "workflowId.$": "$.state_data.workflowId",
          "segment_to_run.$": "$.state_data.segment_to_run",
          "idempotency_key.$": "$.state_data.idempotency_key"
        }
      },
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "final_state.$": "$.Payload.final_state",
        "final_state_s3_path.$": "$.Payload.final_state_s3_path",
        "next_segment_to_run.$": "$.Payload.next_segment_to_run",
        "new_history_logs.$": "$.Payload.new_history_logs"
      },
      "ResultPath": "$.execution_result",
      "Next": "UpdateStateData"
    },
    "UpdateStateData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Update state_data with payload size management and S3 offloading for large states",
      "Parameters": {
        "FunctionName": "${StateDataManagerArn}",
        "InvocationType": "RequestResponse",
        "Payload": {
          "action": "update_and_compress",
          "state_data.$": "$.state_data",
          "execution_result.$": "$.execution_result",
          "max_payload_size_kb": 200
        }
      },
      "ResultSelector": {
        "workflow_config.$": "$.Payload.workflow_config",
        "current_state.$": "$.Payload.current_state",
        "state_s3_path.$": "$.Payload.state_s3_path",
        "state_history.$": "$.Payload.state_history",
        "ownerId.$": "$.Payload.ownerId",
        "workflowId.$": "$.Payload.workflowId",
        "segment_to_run.$": "$.Payload.segment_to_run",
        "idempotency_key.$": "$.Payload.idempotency_key",
        "quota_reservation_id.$": "$.Payload.quota_reservation_id",
        "total_segments.$": "$.Payload.total_segments",
        "partition_map.$": "$.Payload.partition_map",
        "partition_map_s3_path.$": "$.Payload.partition_map_s3_path",
        "segment_manifest.$": "$.Payload.segment_manifest",
        "segment_manifest_s3_path.$": "$.Payload.segment_manifest_s3_path",
        "state_durations.$": "$.Payload.state_durations",
        "last_update_time.$": "$.Payload.last_update_time",
        "start_time.$": "$.Payload.start_time",
        "max_loop_iterations.$": "$.Payload.max_loop_iterations",
        "max_branch_iterations.$": "$.Payload.max_branch_iterations",
        "loop_counter.$": "$.Payload.loop_counter",
        "payload_size_kb.$": "$.Payload.payload_size_kb",
        "compression_applied.$": "$.Payload.compression_applied",
        "llm_segments.$": "$.Payload.llm_segments",
        "hitp_segments.$": "$.Payload.hitp_segments",
        "max_concurrency.$": "$.Payload.max_concurrency",
        "distributed_mode.$": "$.Payload.distributed_mode"
      },
      "ResultPath": "$.state_data",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 6,
          "BackoffRate": 2.0,
          "JitterStrategy": "FULL",
          "Comment": "[Concurrency Protection] Lambda 429에 대한 강화된 재시도 - 동시성 슬롯 회복 대기"
        },
        {
          "ErrorEquals": [
            "S3.ServiceException",
            "S3.ThrottlingException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2.0,
          "Comment": "S3 스로틀링 및 서비스 오류에 대한 재시도"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "State compression failure - fallback to original Pass logic",
          "ResultPath": "$.compression_error",
          "Next": "UpdateStateDataFallback"
        }
      ],
      "Next": "IsPauseNeeded"
    },
    "UpdateStateDataFallback": {
      "Type": "Pass",
      "Comment": "Fallback state update when compression fails",
      "Parameters": {
        "workflow_config.$": "$.state_data.workflow_config",
        "current_state.$": "$.execution_result.final_state",
        "state_s3_path.$": "$.execution_result.final_state_s3_path",
        "state_history.$": "$.execution_result.new_history_logs",
        "ownerId.$": "$.state_data.ownerId",
        "workflowId.$": "$.state_data.workflowId",
        "segment_to_run.$": "$.state_data.segment_to_run",
        "idempotency_key.$": "$.state_data.idempotency_key",
        "quota_reservation_id.$": "$.state_data.quota_reservation_id",
        "total_segments.$": "$.state_data.total_segments",
        "partition_map.$": "$.state_data.partition_map",
        "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
        "segment_manifest.$": "$.state_data.segment_manifest",
        "segment_manifest_s3_path.$": "$.state_data.segment_manifest_s3_path",
        "max_concurrency.$": "$.state_data.max_concurrency",
        "distributed_mode.$": "$.state_data.distributed_mode",
        "state_durations.$": "$.state_data.state_durations",
        "last_update_time.$": "$.state_data.last_update_time",
        "start_time.$": "$.state_data.start_time",
        "max_loop_iterations.$": "$.state_data.max_loop_iterations",
        "max_branch_iterations.$": "$.state_data.max_branch_iterations",
        "loop_counter.$": "$.state_data.loop_counter",
        "llm_segments.$": "$.state_data.llm_segments",
        "hitp_segments.$": "$.state_data.hitp_segments"
      },
      "ResultPath": "$.state_data",
      "Next": "IsPauseNeeded"
    },
    "IsPauseNeeded": {
      "Type": "Choice",
      "Comment": "Check if the segment execution resulted in a PAUSE or PAUSED_FOR_HITP status",
      "Choices": [
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "PAUSE",
          "Next": "WaitForCallback"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "PAUSED_FOR_HITP",
          "Next": "WaitForCallback"
        }
      ],
      "Default": "CheckForNextSegment"
    },
    "CheckForNextSegment": {
      "Type": "Choice",
      "Comment": "Check if there is a next segment to run, or if workflow is complete",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.execution_result.status",
              "StringEquals": "COMPLETE"
            },
            {
              "Variable": "$.execution_result.next_segment_to_run",
              "IsNull": true
            }
          ],
          "Next": "PublishSucceededEvent"
        },
        {
          "And": [
            {
              "Variable": "$.execution_result.status",
              "StringEquals": "COMPLETE"
            },
            {
              "Not": {
                "Variable": "$.execution_result.next_segment_to_run",
                "IsPresent": true
              }
            }
          ],
          "Next": "PublishSucceededEvent"
        }
      ],
      "Default": "PrepareNextSegment"
    },
    "WaitForCallback": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Comment": "HITP: TaskToken 저장 → 알림 전송 → 외부 resume 대기",
      "Parameters": {
        "FunctionName": "${StoreTaskTokenArn}",
        "Payload": {
          "TaskToken.$": "$$.Task.Token",
          "conversation_id.$": "$$.Execution.Id",
          "execution_id.$": "$$.Execution.Id",
          "execution_name.$": "$$.Execution.Name",
          "idempotency_key.$": "$.state_data.idempotency_key",
          "workflow_config.$": "$.state_data.workflow_config",
          "current_state.$": "$.execution_result.final_state",
          "state_s3_path.$": "$.execution_result.final_state_s3_path",
          "segment_to_run.$": "$.execution_result.next_segment_to_run",
          "partition_map.$": "$.state_data.partition_map",
          "total_segments.$": "$.state_data.total_segments",
          "ownerId.$": "$.state_data.ownerId",
          "workflowId.$": "$.state_data.workflowId",
          "state_data.$": "$.state_data",
          "MOCK_MODE.$": "$.MOCK_MODE"
        }
      },
      "ResultPath": "$.callback_result",
      "Next": "PrepareStateAfterPause"
    },
    "PrepareStateAfterPause": {
      "Type": "Task",
      "Comment": "[3순위 최적화] Callback 정규화 로직을 Lambda 내부로 흡수. NormalizeCallbackResult, PromoteCallbackPayload/Direct 제거.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${MergeCallbackArn}",
        "InvocationType": "RequestResponse",
        "Payload": {
          "previous_final_state.$": "$.execution_result.final_state",
          "previous_final_state_s3_path.$": "$.execution_result.final_state_s3_path",
          "callback_result.$": "$.callback_result",
          "state_data.$": "$.state_data",
          "segment_to_run.$": "$.execution_result.next_segment_to_run",
          "ownerId.$": "$.state_data.ownerId",
          "workflowId.$": "$.state_data.workflowId"
        }
      },
      "ResultSelector": {
        "new_current_state.$": "$.Payload.new_current_state",
        "new_state_s3_path.$": "$.Payload.new_state_s3_path",
        "new_state_history.$": "$.Payload.new_state_history",
        "segment_to_run.$": "$.Payload.segment_to_run",
        "workflow_config.$": "$.Payload.workflow_config"
      },
      "ResultPath": "$.current_state_merge",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyExecutionFailure"
        }
      ],
      "Next": "ApplyMergedState"
    },
    "ApplyMergedState": {
      "Type": "Pass",
      "Comment": "Transfer merged new_current_state into state_data.current_state and set segment_to_run",
      "Parameters": {
        "workflow_config.$": "$.state_data.workflow_config",
        "current_state.$": "$.current_state_merge.new_current_state",
        "state_history.$": "$.current_state_merge.new_state_history",
        "state_s3_path.$": "$.current_state_merge.new_state_s3_path",
        "segment_to_run.$": "$.current_state_merge.segment_to_run",
        "partition_map.$": "$.state_data.partition_map",
        "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
        "segment_manifest.$": "$.state_data.segment_manifest",
        "segment_manifest_s3_path.$": "$.state_data.segment_manifest_s3_path",
        "total_segments.$": "$.state_data.total_segments",
        "ownerId.$": "$.state_data.ownerId",
        "workflowId.$": "$.state_data.workflowId",
        "idempotency_key.$": "$.state_data.idempotency_key",
        "quota_reservation_id.$": "$.state_data.quota_reservation_id",
        "max_concurrency.$": "$.state_data.max_concurrency",
        "distributed_mode.$": "$.state_data.distributed_mode",
        "state_durations.$": "$.state_data.state_durations",
        "last_update_time.$": "$.state_data.last_update_time",
        "start_time.$": "$.state_data.start_time",
        "max_loop_iterations.$": "$.state_data.max_loop_iterations",
        "max_branch_iterations.$": "$.state_data.max_branch_iterations",
        "loop_counter.$": "$.state_data.loop_counter",
        "llm_segments.$": "$.state_data.llm_segments",
        "hitp_segments.$": "$.state_data.hitp_segments"
      },
      "ResultPath": "$.state_data",
      "Next": "ExecuteSegment"
    },
    "CheckIfAsyncRequired": {
      "Type": "Choice",
      "Comment": "Check if error type is AsyncLLMRequiredException",
      "Choices": [
        {
          "Variable": "$.async_error.Error",
          "StringEquals": "AsyncLLMRequiredException",
          "Next": "HandleAsyncLLM"
        }
      ],
      "Default": "NotifyExecutionFailure"
    },
    "HandleAsyncLLM": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Comment": "비동기 LLM 처리를 위해 Task Token을 사용하여 대기",
      "Parameters": {
        "FunctionName": "${AsyncLLMHandlerArn}",
        "InvocationType": "RequestResponse",
        "Payload": {
          "TaskToken.$": "$$.Task.Token",
          "execution_id.$": "$$.Execution.Id",
          "idempotency_key.$": "$.state_data.idempotency_key",
          "workflow_config.$": "$.state_data.workflow_config",
          "current_state.$": "$.state_data.current_state",
          "ownerId.$": "$.state_data.ownerId",
          "segment_to_run.$": "$.state_data.segment_to_run",
          "workflowId.$": "$.state_data.workflowId"
        }
      },
      "ResultPath": "$.async_result",
      "Next": "ProcessAsyncResult"
    },
    "ProcessAsyncResult": {
      "Type": "Pass",
      "Comment": "비동기 LLM 결과를 처리하고 다음 세그먼트로 진행. Resume Handler 응답에 대한 방어적 처리 포함.",
      "Parameters": {
        "workflow_config.$": "$.state_data.workflow_config",
        "current_state.$": "States.JsonMerge($.state_data.current_state, $.async_result.Payload, false)",
        "state_s3_path.$": "$.state_data.state_s3_path",
        "partition_map.$": "$.state_data.partition_map",
        "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
        "segment_manifest.$": "$.state_data.segment_manifest",
        "segment_manifest_s3_path.$": "$.state_data.segment_manifest_s3_path",
        "total_segments.$": "$.state_data.total_segments",
        "ownerId.$": "$.state_data.ownerId",
        "segment_to_run.$": "States.MathAdd($.state_data.segment_to_run, 1)",
        "idempotency_key.$": "$.state_data.idempotency_key",
        "quota_reservation_id.$": "$.state_data.quota_reservation_id",
        "workflowId.$": "$.state_data.workflowId",
        "max_concurrency.$": "$.state_data.max_concurrency",
        "distributed_mode.$": "$.state_data.distributed_mode",
        "state_durations.$": "$.state_data.state_durations",
        "last_update_time.$": "$.state_data.last_update_time",
        "start_time.$": "$.state_data.start_time",
        "max_loop_iterations.$": "$.state_data.max_loop_iterations",
        "max_branch_iterations.$": "$.state_data.max_branch_iterations",
        "loop_counter.$": "$.state_data.loop_counter",
        "llm_segments.$": "$.state_data.llm_segments",
        "hitp_segments.$": "$.state_data.hitp_segments"
      },
      "ResultPath": "$.state_data",
      "Next": "CheckLoopLimit"
    },
    "PrepareNextSegment": {
      "Type": "Choice",
      "Comment": "Check if there is a next segment to run, or if workflow is complete",
      "Choices": [
        {
          "Variable": "$.execution_result.next_segment_to_run",
          "IsPresent": true,
          "Next": "UpdateSegmentToRun"
        }
      ],
      "Default": "PublishSucceededEvent"
    },
    "UpdateSegmentToRun": {
      "Type": "Pass",
      "Comment": "Advance to the next segment when ExecuteSegment signalled CONTINUE, and increment loop counter",
      "Parameters": {
        "workflow_config.$": "$.state_data.workflow_config",
        "current_state.$": "$.execution_result.final_state",
        "state_s3_path.$": "$.execution_result.final_state_s3_path",
        "partition_map.$": "$.state_data.partition_map",
        "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
        "segment_manifest.$": "$.state_data.segment_manifest",
        "segment_manifest_s3_path.$": "$.state_data.segment_manifest_s3_path",
        "total_segments.$": "$.state_data.total_segments",
        "ownerId.$": "$.state_data.ownerId",
        "segment_to_run.$": "$.execution_result.next_segment_to_run",
        "idempotency_key.$": "$.state_data.idempotency_key",
        "quota_reservation_id.$": "$.state_data.quota_reservation_id",
        "workflowId.$": "$.state_data.workflowId",
        "max_concurrency.$": "$.state_data.max_concurrency",
        "distributed_mode.$": "$.state_data.distributed_mode",
        "state_durations.$": "$.state_data.state_durations",
        "last_update_time.$": "$.state_data.last_update_time",
        "start_time.$": "$.state_data.start_time",
        "state_history.$": "$.state_data.state_history",
        "max_loop_iterations.$": "$.state_data.max_loop_iterations",
        "max_branch_iterations.$": "$.state_data.max_branch_iterations",
        "loop_counter.$": "States.MathAdd($.state_data.loop_counter, 1)",
        "llm_segments.$": "$.state_data.llm_segments",
        "hitp_segments.$": "$.state_data.hitp_segments"
      },
      "ResultPath": "$.state_data",
      "Next": "CheckLoopLimit"
    },
    "CheckLoopLimit": {
      "Type": "Choice",
      "Comment": "Safety valve: Check loop counter to prevent infinite loops (dynamic limit based on workflow complexity)",
      "Choices": [
        {
          "Variable": "$.state_data.loop_counter",
          "NumericGreaterThanPath": "$.state_data.max_loop_iterations",
          "Next": "LoopLimitExceeded"
        }
      ],
      "Default": "ExecuteSegment"
    },
    "LoopLimitExceeded": {
      "Type": "Fail",
      "Error": "LoopLimitExceeded",
      "CausePath": "States.Format('Workflow execution exceeded maximum loop iterations ({}). Possible infinite loop detected. Current: {}, Max: {}', $.state_data.max_loop_iterations, $.state_data.loop_counter, $.state_data.max_loop_iterations)"
    },
    "PublishSucceededEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "Publish a domain event to EventBridge indicating the workflow succeeded",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${WorkflowEventBusArn}",
            "Source": "backend-workflow.lifecycle",
            "DetailType": "WorkflowLifecycleEvent",
            "Detail": {
              "execution_id.$": "$$.Execution.Id",
              "conversation_id.$": "$$.Execution.Id",
              "ownerId.$": "$.ownerId",
              "workflowId.$": "$.workflowId",
              "status": "COMPLETED",
              "notification_type": "execution_progress",
              "message": "Workflow completed successfully",
              "state_data.$": "$",
              "final_result.$": "$.state_data.current_state"
            }
          }
        ]
      },
      "ResultPath": "$.event_publish_result",
      "Next": "PrepareSuccessOutput"
    },
    "PrepareSuccessOutput": {
      "Type": "Pass",
      "Comment": "[Fix] 최종 출력에 execution_result 및 가드레일 메트릭 포함",
      "Parameters": {
        "status": "SUCCEEDED",
        "execution_id.$": "$$.Execution.Id",
        "ownerId.$": "$.state_data.ownerId",
        "workflowId.$": "$.state_data.workflowId",
        "final_state.$": "$.execution_result.final_state",
        "final_state_s3_path.$": "$.execution_result.final_state_s3_path",
        "state_s3_path.$": "$.execution_result.final_state_s3_path",
        "execution_result.$": "$.execution_result",
        "loop_counter.$": "$.state_data.loop_counter",
        "max_loop_iterations.$": "$.state_data.max_loop_iterations",
        "llm_segments.$": "$.state_data.llm_segments",
        "hitp_segments.$": "$.state_data.hitp_segments",
        "start_time.$": "$.state_data.start_time",
        "state_durations.$": "$.state_data.state_durations",
        "total_segments.$": "$.state_data.total_segments"
      },
      "Next": "WorkflowSucceeded"
    },
    "WorkflowSucceeded": {
      "Type": "Succeed",
      "Comment": "워크플로우가 성공적으로 완료되었습니다. - 최종 출력에 S3 경로 포함"
    },
    "NotifyExecutionFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "🚀 Fire-and-forget: Publish workflow failure event to EventBridge for async processing",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${WorkflowEventBusArn}",
            "Source": "backend-workflow.lifecycle",
            "DetailType": "WorkflowLifecycleEvent",
            "Detail": {
              "event_type": "FAILED",
              "event_version": "1.0",
              "trace_id.$": "$$.Execution.Id",
              "timestamp.$": "$$.State.EnteredTime",
              "TaskToken": "EXECUTION_FAILURE",
              "notification_type": "execution_progress",
              "status": "FAILED",
              "message": "Workflow execution failed",
              "ownerId.$": "$.state_data.ownerId",
              "userId.$": "$.state_data.ownerId",
              "workflowId.$": "$.state_data.workflowId",
              "error_info.$": "$.execution_result.error_info",
              "partition_error.$": "$.partition_error",
              "async_error.$": "$.async_error"
            }
          }
        ]
      },
      "ResultPath": "$.failure_notification_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "EventBridge publish failure should not stop workflow, ensure failure notification result exists",
          "ResultPath": "$.failure_notification_error",
          "Next": "WorkflowFailed"
        }
      ],
      "Next": "WorkflowFailed"
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Comment": "워크플로우가 실패했습니다."
    }
  }
}