analemma-workflow-os/backend/src/aws_step_functions.json
{
  "Comment": "Orchestrator that executes user workflows in segment units and handles HITP",
  "StartAt": "CheckForInjectedConfig",
  "States": {
    "CheckForInjectedConfig": {
      "Type": "Choice",
      "Comment": "Bypass DynamoDB if MOCK_MODE is true and test config exists",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.MOCK_MODE",
              "StringEquals": "true"
            },
            {
              "Variable": "$.test_workflow_config",
              "IsPresent": true
            }
          ],
          "Next": "InitializeStateData"
        }
      ],
      "Default": "CheckForExistingExecution"
    },
    "CheckForExistingExecution": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:getItem",
      "Comment": "[2nd Priority Optimization] Direct SDK Integration: Remove Lambda Cold Start. Query idempotency_key directly from DynamoDB",
      "Parameters": {
        "TableName": "${IdempotencyTable}",
        "Key": {
          "idempotency_key": {
            "S.$": "$.idempotency_key"
          }
        },
        "ProjectionExpression": "executionArn, #st",
        "ExpressionAttributeNames": {
          "#st": "status"
        }
      },
      "ResultSelector": {
        "existing_execution_arn.$": "$.Item.executionArn.S",
        "existing_execution_status.$": "$.Item.status.S"
      },
      "ResultPath": "$.idempotency_check_result",
      "Retry": [
        {
          "ErrorEquals": [
            "DynamoDB.ServiceException",
            "DynamoDB.ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0,
          "Comment": "DynamoDB 일시적 오류에 대한 재시도"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "멱등성 체크 실패 시 안전한 처리",
          "ResultPath": "$.idempotency_error",
          "Next": "HandleIdempotencyFailure"
        }
      ],
      "Next": "HandleExistingExecution"
    },
    "HandleIdempotencyFailure": {
      "Type": "Choice",
      "Comment": "멱등성 체크 실패 시 안전 모드 확인",
      "Choices": [
        {
          "Variable": "$.ALLOW_UNSAFE_EXECUTION",
          "BooleanEquals": true,
          "Next": "InitializeStateData"
        }
      ],
      "Default": "FailIdempotencyUnavailable"
    },
    "FailIdempotencyUnavailable": {
      "Type": "Fail",
      "Error": "IdempotencyCheckFailed",
      "Cause": "Unable to verify execution uniqueness. DynamoDB idempotency check failed and unsafe execution is not allowed."
    },
    "HandleExistingExecution": {
      "Type": "Choice",
      "Comment": "If an existing execution is found, decide whether to resume or fail",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.idempotency_check_result.existing_execution_arn",
              "IsPresent": true
            },
            {
              "Variable": "$.idempotency_check_result.existing_execution_status",
              "StringEquals": "RUNNING"
            }
          ],
          "Next": "FailDuplicateExecution"
        },
        {
          "And": [
            {
              "Variable": "$.idempotency_check_result.existing_execution_arn",
              "IsPresent": true
            },
            {
              "Variable": "$.idempotency_check_result.existing_execution_status",
              "StringEquals": "SUCCEEDED"
            }
          ],
          "Next": "SucceedDuplicateExecution"
        }
      ],
      "Default": "InitializeStateData"
    },
    "FailDuplicateExecution": {
      "Type": "Fail",
      "Error": "DuplicateExecution",
      "Cause": "An execution with the same idempotency key is already running."
    },
    "SucceedDuplicateExecution": {
      "Type": "Succeed",
      "Comment": "An execution with the same idempotency key already succeeded."
    },
    "InitializeStateData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "[3순위 최적화] S3 path 로직을 Lambda 내부로 흡수. CheckS3PathPresent, InitializeExecutionWithS3/Inline 제거됨.",
      "Parameters": {
        "FunctionName": "${InitializeStateDataArn}",
        "InvocationType": "RequestResponse",
        "Payload": {
          "input.$": "$"
        }
      },
      "ResultSelector": {
        "workflow_config.$": "$.Payload.workflow_config",
        "current_state.$": "$.Payload.current_state",
        "input.$": "$.Payload.input",
        "state_s3_path.$": "$.Payload.state_s3_path",
        "state_history.$": "$.Payload.state_history",
        "ownerId.$": "$.Payload.ownerId",
        "workflowId.$": "$.Payload.workflowId",
        "segment_to_run.$": "$.Payload.segment_to_run",
        "idempotency_key.$": "$.Payload.idempotency_key",
        "quota_reservation_id.$": "$.Payload.quota_reservation_id",
        "total_segments.$": "$.Payload.total_segments",
        "partition_map.$": "$.Payload.partition_map",
        "partition_map_s3_path.$": "$.Payload.partition_map_s3_path",
        "segment_manifest.$": "$.Payload.segment_manifest",
        "segment_manifest_s3_path.$": "$.Payload.segment_manifest_s3_path",
        "state_durations.$": "$.Payload.state_durations",
        "last_update_time.$": "$.Payload.last_update_time",
        "start_time.$": "$.Payload.start_time",
        "max_loop_iterations.$": "$.Payload.max_loop_iterations",
        "max_branch_iterations.$": "$.Payload.max_branch_iterations",
        "loop_counter.$": "$.Payload.loop_counter",
        "max_concurrency.$": "$.Payload.max_concurrency",
        "distributed_mode.$": "$.Payload.distributed_mode",
        "llm_segments.$": "$.Payload.llm_segments",
        "hitp_segments.$": "$.Payload.hitp_segments",
        "distributed_strategy.$": "$.Payload.distributed_strategy",
        "distributed_strategy_detail.$": "$.Payload.distributed_strategy_detail"
      },
      "ResultPath": "$.state_data",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.init_error",
          "Next": "HandleInitFailure"
        }
      ],
      "Next": "CheckLargeWorkflow"
    },
    "HandleInitFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "[Fix] InitializeStateData 실패 시 원본 입력에서 ownerId 추출",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${WorkflowEventBusArn}",
            "Source": "backend-workflow.lifecycle",
            "DetailType": "WorkflowLifecycleEvent",
            "Detail": {
              "execution_id.$": "$$.Execution.Id",
              "ownerId.$": "$.ownerId",
              "workflowId.$": "$.workflowId",
              "status": "FAILED",
              "notification_type": "execution_progress",
              "message": "Workflow initialization failed",
              "error.$": "$.init_error"
            }
          }
        ]
      },
      "Next": "InitializationFailed"
    },
    "InitializationFailed": {
      "Type": "Fail",
      "Error": "InitializationFailed",
      "Cause": "Failed to initialize workflow state data"
    },
    "CheckLargeWorkflow": {
      "Type": "Choice",
      "Comment": "Check if workflow is very large (>200 segments) and send monitoring warning",
      "Choices": [
        {
          "Variable": "$.state_data.total_segments",
          "NumericGreaterThan": 200,
          "Next": "NotifyLargeWorkflowWarning"
        }
      ],
      "Default": "NotifyWorkflowStarted"
    },
    "NotifyLargeWorkflowWarning": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "Notify about very large workflow that may approach Event History limits",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${WorkflowEventBusArn}",
            "Source": "backend-workflow.lifecycle",
            "DetailType": "WorkflowLifecycleEvent",
            "Detail": {
              "execution_id.$": "$$.Execution.Id",
              "ownerId.$": "$.state_data.ownerId",
              "workflowId.$": "$.state_data.workflowId",
              "total_segments.$": "$.state_data.total_segments",
              "warning": "Very large workflow detected - monitor Event History usage closely",
              "notification_type": "execution_progress",
              "status": "LARGE_WORKFLOW_WARNING"
            }
          }
        ]
      },
      "ResultPath": "$.large_workflow_warning",
      "Next": "NotifyWorkflowStarted"
    },
    "NotifyWorkflowStarted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "🚀 Fire-and-forget: Publish workflow start event to EventBridge for async processing",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${WorkflowEventBusArn}",
            "Source": "backend-workflow.lifecycle",
            "DetailType": "WorkflowLifecycleEvent",
            "Detail": {
              "TaskToken": "PROGRESS_NOTIFICATION",
              "userId.$": "$.state_data.ownerId",
              "ownerId.$": "$.state_data.ownerId",
              "state_data.$": "$.state_data",
              "conversation_id.$": "$$.Execution.Id",
              "execution_id.$": "$$.Execution.Id",
              "workflowId.$": "$.state_data.workflowId",
              "notification_type": "execution_progress",
              "status": "RUNNING",
              "message": "Workflow started",
              "segment_to_run.$": "$.state_data.segment_to_run"
            }
          }
        ]
      },
      "ResultPath": "$.notification_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "EventBridge publish failure should not stop workflow",
          "ResultPath": "$.notification_error",
          "Next": "SelectDistributedStrategy"
        }
      ],
      "Next": "SelectDistributedStrategy"
    },
    "SelectDistributedStrategy": {
      "Type": "Choice",
      "Comment": "🚀 Hybrid Mode: Select execution strategy based on workflow characteristics",
      "Choices": [
        {
          "Variable": "$.state_data.distributed_strategy",
          "StringEquals": "MAP_REDUCE",
          "Next": "ExecuteMapReduceMode"
        },
        {
          "Variable": "$.state_data.distributed_strategy",
          "StringEquals": "BATCHED",
          "Next": "ExecuteBatchedMode"
        }
      ],
      "Default": "ExecuteSegment"
    },
    "ExecuteMapReduceMode": {
      "Type": "Map",
      "Comment": "🚀 MAP_REDUCE: High-concurrency parallel execution with S3 aggregation",
      "MaxConcurrencyPath": "$.state_data.max_concurrency",
      "ItemsPath": "$.state_data.segment_manifest",
      "Parameters": {
        "segment_config.$": "$$.Map.Item.Value.segment_config",
        "segment_id.$": "$$.Map.Item.Value.segment_id",
        "execution_order.$": "$$.Map.Item.Value.execution_order",
        "workflow_config.$": "$.state_data.workflow_config",
        "current_state.$": "$.state_data.current_state",
        "ownerId.$": "$.state_data.ownerId",
        "workflowId.$": "$.state_data.workflowId",
        "idempotency_key.$": "$.state_data.idempotency_key",
        "total_segments.$": "$.state_data.total_segments",
        "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
        "execution_mode": "MAP_REDUCE"
      },
      "Iterator": {
        "StartAt": "MapReduceSegmentRunner",
        "States": {
          "MapReduceSegmentRunner": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${ExecuteSegmentArn}",
              "InvocationType": "RequestResponse",
              "Payload.$": "$"
            },
            "ResultSelector": {
              "status.$": "$.Payload.status",
              "segment_id.$": "$.Payload.segment_id",
              "output_s3_path.$": "$.Payload.final_state_s3_path"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 10,
                "BackoffRate": 2.0,
                "JitterStrategy": "FULL"
              }
            ],
            "End": true
          }
        }
      },
      "ResultPath": "$.map_reduce_results",
      "Next": "AggregateMapReduceResults"
    },
    "AggregateMapReduceResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Aggregate all Map-Reduce results from S3 into final state",
      "Parameters": {
        "FunctionName": "${AggregateResultsArn}",
        "Payload": {
          "map_results.$": "$.map_reduce_results",
          "ownerId.$": "$.state_data.ownerId",
          "workflowId.$": "$.state_data.workflowId",
          "execution_mode": "MAP_REDUCE"
        }
      },
      "ResultSelector": {
        "final_state.$": "$.Payload.final_state",
        "status.$": "$.Payload.status"
      },
      "ResultPath": "$.aggregation_result",
      "Next": "NotifyWorkflowCompleted"
    },
    "ExecuteBatchedMode": {
      "Type": "Map",
      "Comment": "🚀 BATCHED: Controlled batch processing with moderate concurrency",
      "MaxConcurrency": 10,
      "ItemsPath": "$.state_data.segment_manifest",
      "Parameters": {
        "segment_config.$": "$$.Map.Item.Value.segment_config",
        "segment_id.$": "$$.Map.Item.Value.segment_id",
        "execution_order.$": "$$.Map.Item.Value.execution_order",
        "dependencies.$": "$$.Map.Item.Value.dependencies",
        "workflow_config.$": "$.state_data.workflow_config",
        "current_state.$": "$.state_data.current_state",
        "ownerId.$": "$.state_data.ownerId",
        "workflowId.$": "$.state_data.workflowId",
        "idempotency_key.$": "$.state_data.idempotency_key",
        "total_segments.$": "$.state_data.total_segments",
        "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
        "execution_mode": "BATCHED"
      },
      "Iterator": {
        "StartAt": "BatchedSegmentRunner",
        "States": {
          "BatchedSegmentRunner": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${ExecuteSegmentArn}",
              "InvocationType": "RequestResponse",
              "Payload.$": "$"
            },
            "ResultSelector": {
              "status.$": "$.Payload.status",
              "segment_id.$": "$.Payload.segment_id",
              "final_state.$": "$.Payload.final_state"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 3,
                "MaxAttempts": 5,
                "BackoffRate": 2.0,
                "JitterStrategy": "FULL"
              }
            ],
            "End": true
          }
        }
      },
      "ResultPath": "$.batched_results",
      "Next": "AggregateBatchedResults"
    },
    "AggregateBatchedResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Aggregate batched execution results",
      "Parameters": {
        "FunctionName": "${AggregateResultsArn}",
        "Payload": {
          "batch_results.$": "$.batched_results",
          "ownerId.$": "$.state_data.ownerId",
          "workflowId.$": "$.state_data.workflowId",
          "execution_mode": "BATCHED"
        }
      },
      "ResultSelector": {
        "final_state.$": "$.Payload.final_state",
        "status.$": "$.Payload.status"
      },
      "ResultPath": "$.aggregation_result",
      "Next": "NotifyWorkflowCompleted"
    },
    "ExecuteSegment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Execute a single segment of the user workflow",
      "Parameters": {
        "FunctionName": "${ExecuteSegmentArn}",
        "InvocationType": "RequestResponse",
        "Payload": {
          "workflow_config.$": "$.state_data.workflow_config",
          "current_state.$": "$.state_data.current_state",
          "state_history.$": "$.state_data.state_history",
          "ownerId.$": "$.state_data.ownerId",
          "workflowId.$": "$.state_data.workflowId",
          "segment_to_run.$": "$.state_data.segment_to_run",
          "idempotency_key.$": "$.state_data.idempotency_key",
          "quota_reservation_id.$": "$.state_data.quota_reservation_id",
          "total_segments.$": "$.state_data.total_segments",
          "partition_map.$": "$.state_data.partition_map",
          "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
          "max_concurrency.$": "$.state_data.max_concurrency",
          "state_durations.$": "$.state_data.state_durations",
          "last_update_time.$": "$.state_data.last_update_time",
          "start_time.$": "$.state_data.start_time"
        }
      },
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "final_state.$": "$.Payload.final_state",
        "final_state_s3_path.$": "$.Payload.final_state_s3_path",
        "next_segment_to_run.$": "$.Payload.next_segment_to_run",
        "new_history_logs.$": "$.Payload.new_history_logs",
        "error_info.$": "$.Payload.error_info",
        "branches.$": "$.Payload.branches",
        "segment_type.$": "$.Payload.segment_type"
      },
      "ResultPath": "$.execution_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 6,
          "BackoffRate": 2.0,
          "JitterStrategy": "FULL",
          "Comment": "[Concurrency Protection] Lambda 429에 대한 강화된 재시도 - 동시성 슬롯 회복 대기"
        },
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0,
          "Comment": "일반적인 작업 실패에 대한 제한적 재시도"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "PartitionError"
          ],
          "ResultPath": "$.partition_error",
          "Next": "NotifyExecutionFailure"
        },
        {
          "ErrorEquals": [
            "AsyncLLMRequiredException"
          ],
          "ResultPath": "$.async_error",
          "Next": "CheckIfAsyncRequired"
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.execution_result.error_info",
          "Comment": "Catch all errors and preserve error details in execution_result structure for verifier",
          "Next": "NotifyExecutionFailure"
        }
      ],
      "Next": "CheckSegmentStatus"
    },
    "CheckSegmentStatus": {
      "Type": "Choice",
      "Comment": "Check execution status: CONTINUE, PARALLEL_GROUP, PAUSE, FAILED, HALTED, SIGKILL, or COMPLETE",
      "Choices": [
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "FAILED",
          "Next": "NotifyExecutionFailure"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "HALTED",
          "Comment": "🛡️ [Kernel Defense] Concurrency controller halted execution",
          "Next": "NotifyExecutionFailure"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "SIGKILL",
          "Comment": "🛡️ [Kernel Defense] Ring protection violation - security termination",
          "Next": "NotifyExecutionFailure"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "SKIPPED",
          "Comment": "Kernel decided to skip this segment",
          "Next": "PrepareNextSegment"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "COMPLETE",
          "Next": "PublishSucceededEvent"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "CONTINUE",
          "Comment": "More segments to process - continue the execution loop",
          "Next": "PrepareNextSegment"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "PARALLEL_GROUP",
          "Next": "ProcessParallelSegments"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "SEQUENTIAL_BRANCH",
          "Comment": "Single branch optimization: use inner_partition_map for sequential execution",
          "Next": "PrepareSequentialBranch"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "PAUSED_FOR_ASYNC_LLM",
          "Next": "HandleAsyncLLM"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "PAUSE",
          "Next": "WaitForCallback"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "PAUSED_FOR_HITP",
          "Next": "WaitForCallback"
        }
      ],
      "Default": "PublishSucceededEvent"
    },
    "PrepareSequentialBranch": {
      "Type": "Pass",
      "Comment": "[SEQUENTIAL_BRANCH] Replace partition_map with inner_partition_map for sequential branch execution",
      "Parameters": {
        "state_data.$": "States.StringToJson(States.JsonToString($.state_data))",
        "execution_result.$": "$.execution_result"
      },
      "Next": "ExecuteSegment"
    },
    "ProcessParallelSegments": {
      "Type": "Map",
      "Comment": "Execute parallel branches inline using a Map state with dynamic concurrency",
      "ItemsPath": "$.execution_result.branches",
      "ResultPath": "$.parallel_results",
      "MaxConcurrencyPath": "$.state_data.max_concurrency",
      "Parameters": {
        "branch_config.$": "$$.Map.Item.Value",
        "branch_id.$": "States.Format('branch_{}', $$.Map.Item.Index)",
        "branch_index.$": "$$.Map.Item.Index",
        "partition_map.$": "$$.Map.Item.Value.partition_map",
        "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
        "segment_manifest.$": "$.state_data.segment_manifest",
        "segment_manifest_s3_path.$": "$.state_data.segment_manifest_s3_path",
        "workflow_config.$": "$.state_data.workflow_config",
        "current_state.$": "$.state_data.current_state",
        "ownerId.$": "$.state_data.ownerId",
        "workflowId.$": "$.state_data.workflowId",
        "idempotency_key.$": "$.state_data.idempotency_key",
        "quota_reservation_id.$": "$.state_data.quota_reservation_id",
        "state_history.$": "$.state_data.state_history",
        "state_durations.$": "$.state_data.state_durations",
        "last_update_time.$": "$.state_data.last_update_time",
        "start_time.$": "$.state_data.start_time",
        "max_loop_iterations.$": "$.state_data.max_loop_iterations",
        "max_branch_iterations.$": "$.state_data.max_branch_iterations",
        "max_concurrency.$": "$.state_data.max_concurrency",
        "distributed_mode.$": "$.state_data.distributed_mode",
        "llm_segments.$": "$.state_data.llm_segments",
        "hitp_segments.$": "$.state_data.hitp_segments"
      },
      "Iterator": {
        "StartAt": "InitializeBranch",
        "States": {
          "InitializeBranch": {
            "Type": "Pass",
            "Parameters": {
              "segment_to_run": 0,
              "branch_id.$": "$.branch_id",
              "branch_config.$": "$.branch_config",
              "partition_map.$": "$.partition_map",
              "partition_map_s3_path.$": "$.partition_map_s3_path",
              "segment_manifest.$": "$.segment_manifest",
              "segment_manifest_s3_path.$": "$.segment_manifest_s3_path",
              "workflow_config.$": "$.workflow_config",
              "current_state.$": "$.current_state",
              "ownerId.$": "$.ownerId",
              "workflowId.$": "$.workflowId",
              "idempotency_key.$": "$.idempotency_key",
              "quota_reservation_id.$": "$.quota_reservation_id",
              "state_history.$": "$.state_history",
              "state_durations.$": "$.state_durations",
              "last_update_time.$": "$.last_update_time",
              "start_time.$": "$.start_time",
              "loop_counter": 0,
              "max_loop_iterations.$": "$.max_loop_iterations",
              "max_branch_iterations.$": "$.max_branch_iterations",
              "max_concurrency.$": "$.max_concurrency",
              "distributed_mode.$": "$.distributed_mode",
              "llm_segments.$": "$.llm_segments",
              "hitp_segments.$": "$.hitp_segments"
            },
            "ResultPath": "$.state_data",
            "Next": "ExecuteBranchSegment"
          },
          "ExecuteBranchSegment": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${ExecuteSegmentArn}",
              "Payload": {
                "workflow_config.$": "$.state_data.workflow_config",
                "current_state.$": "$.state_data.current_state",
                "state_history.$": "$.state_data.state_history",
                "ownerId.$": "$.state_data.ownerId",
                "workflowId.$": "$.state_data.workflowId",
                "segment_to_run.$": "$.state_data.segment_to_run",
                "idempotency_key.$": "$.state_data.idempotency_key",
                "partition_map.$": "$.state_data.partition_map",
                "branch_config.$": "$.state_data.branch_config",
                "state_durations.$": "$.state_data.state_durations",
                "last_update_time.$": "$.state_data.last_update_time",
                "start_time.$": "$.state_data.start_time"
              }
            },
            "ResultSelector": {
              "status.$": "$.Payload.status",
              "final_state.$": "$.Payload.final_state",
              "final_state_s3_path.$": "$.Payload.final_state_s3_path",
              "next_segment_to_run.$": "$.Payload.next_segment_to_run",
              "new_history_logs.$": "$.Payload.new_history_logs",
              "error_info.$": "$.Payload.error_info",
              "branches.$": "$.Payload.branches",
              "segment_type.$": "$.Payload.segment_type",
              "inner_partition_map.$": "$.Payload.inner_partition_map"
            },
            "ResultPath": "$.execution_result",
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.TooManyRequestsException",
                  "Lambda.Unknown"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 3,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "ResultPath": "$.branch_error",
                "Next": "HandleBranchError"
              }
            ],
            "Next": "CheckBranchNext"
          },
          "HandleBranchError": {
            "Type": "Pass",
            "Comment": "🛡️ [Kernel Defense] Lambda 예외 에러를 Partial Success로 변환",
            "Parameters": {
              "status": "PARTIAL_FAILURE",
              "final_state.$": "$.state_data.current_state",
              "final_state_s3_path": null,
              "next_segment_to_run": null,
              "new_history_logs": [],
              "error_info": {
                "error.$": "$.branch_error.Error",
                "cause.$": "$.branch_error.Cause",
                "branch_id.$": "$.state_data.branch_id",
                "segment_to_run.$": "$.state_data.segment_to_run"
              }
            },
            "ResultPath": "$.execution_result",
            "Next": "BranchComplete"
          },
          "HandleBranchFailedStatus": {
            "Type": "Pass",
            "Comment": "🛡️ [Kernel Defense] Lambda FAILED 상태 반환을 처리",
            "Parameters": {
              "status": "PARTIAL_FAILURE",
              "final_state.$": "$.execution_result.final_state",
              "final_state_s3_path.$": "$.execution_result.final_state_s3_path",
              "next_segment_to_run": null,
              "new_history_logs.$": "$.execution_result.new_history_logs",
              "error_info.$": "$.execution_result.error_info"
            },
            "ResultPath": "$.execution_result",
            "Next": "BranchComplete"
          },
          "CheckBranchNext": {
            "Type": "Choice",
            "Comment": "Check if branch should continue or complete",
            "Choices": [
              {
                "Variable": "$.execution_result.status",
                "StringEquals": "COMPLETE",
                "Next": "BranchComplete"
              },
              {
                "Variable": "$.execution_result.status",
                "StringEquals": "FAILED",
                "Comment": "Branch execution failed - handle status",
                "Next": "HandleBranchFailedStatus"
              },
              {
                "Variable": "$.execution_result.status",
                "StringEquals": "CONTINUE",
                "Comment": "More segments in branch - continue execution",
                "Next": "UpdateBranchSegment"
              },
              {
                "Variable": "$.execution_result.status",
                "StringEquals": "SEQUENTIAL_BRANCH",
                "Comment": "Sequential branch - switch to inner_partition_map",
                "Next": "UpdateBranchToSequential"
              },
              {
                "Variable": "$.execution_result.status",
                "StringEquals": "PARALLEL_GROUP",
                "Comment": "Nested parallel group in branch - handle as continue",
                "Next": "UpdateBranchSegment"
              },
              {
                "Variable": "$.execution_result.status",
                "StringEquals": "HALTED",
                "Comment": "Branch halted by kernel",
                "Next": "HandleBranchFailedStatus"
              },
              {
                "Variable": "$.execution_result.status",
                "StringEquals": "SIGKILL",
                "Comment": "Branch security violation",
                "Next": "HandleBranchFailedStatus"
              }
            ],
            "Default": "BranchComplete"
          },
          "UpdateBranchSegment": {
            "Type": "Pass",
            "Parameters": {
              "workflow_config.$": "$.state_data.workflow_config",
              "current_state.$": "$.execution_result.final_state",
              "state_history.$": "$.state_data.state_history",
              "ownerId.$": "$.state_data.ownerId",
              "workflowId.$": "$.state_data.workflowId",
              "segment_to_run.$": "$.execution_result.next_segment_to_run",
              "idempotency_key.$": "$.state_data.idempotency_key",
              "quota_reservation_id.$": "$.state_data.quota_reservation_id",
              "partition_map.$": "$.state_data.partition_map",
              "branch_config.$": "$.state_data.branch_config",
              "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
              "segment_manifest.$": "$.state_data.segment_manifest",
              "segment_manifest_s3_path.$": "$.state_data.segment_manifest_s3_path",
              "state_durations.$": "$.state_data.state_durations",
              "last_update_time.$": "$.state_data.last_update_time",
              "start_time.$": "$.state_data.start_time",
              "loop_counter.$": "States.MathAdd($.state_data.loop_counter, 1)",
              "max_loop_iterations.$": "$.state_data.max_loop_iterations",
              "max_branch_iterations.$": "$.state_data.max_branch_iterations",
              "max_concurrency.$": "$.state_data.max_concurrency",
              "distributed_mode.$": "$.state_data.distributed_mode",
              "llm_segments.$": "$.state_data.llm_segments",
              "hitp_segments.$": "$.state_data.hitp_segments"
            },
            "ResultPath": "$.state_data",
            "Next": "CheckBranchLoopLimit"
          },
          "UpdateBranchToSequential": {
            "Type": "Pass",
            "Comment": "[SEQUENTIAL_BRANCH] Replace partition_map with inner_partition_map in branch context",
            "Parameters": {
              "workflow_config.$": "$.state_data.workflow_config",
              "current_state.$": "$.execution_result.final_state",
              "state_history.$": "$.state_data.state_history",
              "ownerId.$": "$.state_data.ownerId",
              "workflowId.$": "$.state_data.workflowId",
              "segment_to_run": 0,
              "idempotency_key.$": "$.state_data.idempotency_key",
              "quota_reservation_id.$": "$.state_data.quota_reservation_id",
              "partition_map.$": "$.execution_result.inner_partition_map",
              "branch_config.$": "$.state_data.branch_config",
              "partition_map_s3_path": "",
              "segment_manifest.$": "$.state_data.segment_manifest",
              "segment_manifest_s3_path.$": "$.state_data.segment_manifest_s3_path",
              "state_durations.$": "$.state_data.state_durations",
              "last_update_time.$": "$.state_data.last_update_time",
              "start_time.$": "$.state_data.start_time",
              "loop_counter.$": "$.state_data.loop_counter",
              "max_loop_iterations.$": "$.state_data.max_loop_iterations",
              "max_branch_iterations.$": "$.state_data.max_branch_iterations",
              "max_concurrency.$": "$.state_data.max_concurrency",
              "distributed_mode.$": "$.state_data.distributed_mode",
              "llm_segments.$": "$.state_data.llm_segments",
              "hitp_segments.$": "$.state_data.hitp_segments",
              "sequential_branch_id.$": "$.execution_result.branch_id"
            },
            "ResultPath": "$.state_data",
            "Next": "ExecuteBranchSegment"
          },
          "CheckBranchLoopLimit": {
            "Type": "Choice",
            "Comment": "Dynamic branch loop limit based on workflow complexity",
            "Choices": [
              {
                "Variable": "$.state_data.loop_counter",
                "NumericGreaterThanPath": "$.state_data.max_branch_iterations",
                "Next": "BranchLoopLimitExceeded"
              }
            ],
            "Default": "ExecuteBranchSegment"
          },
          "BranchLoopLimitExceeded": {
            "Type": "Fail",
            "Error": "BranchLoopLimitExceeded",
            "Cause": "Parallel branch exceeded maximum loop iterations."
          },
          "BranchComplete": {
            "Type": "Pass",
            "Comment": "[Fix] 브랜치 결과에 상태 및 에러 정보 포함",
            "Parameters": {
              "branch_id.$": "$.state_data.branch_id",
              "branch_status.$": "$.execution_result.status",
              "final_state.$": "$.execution_result.final_state",
              "final_state_s3_path.$": "$.execution_result.final_state_s3_path",
              "new_history_logs.$": "$.execution_result.new_history_logs",
              "error_info.$": "$.execution_result.error_info",
              "branch_executed": true
            },
            "End": true
          }
        }
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "🛡️ [Kernel Defense] Map 에러 시 부분 결과로 Aggregator 진행",
          "ResultPath": "$.map_error",
          "Next": "HandleMapError"
        }
      ],
      "Next": "AggregateParallelResults"
    },
    "HandleMapError": {
      "Type": "Pass",
      "Comment": "🛡️ [Kernel Defense] Map 전체 실패 시 빈 결과로 Aggregator 호출",
      "Parameters": {
        "status": "MAP_ERROR",
        "error_info": {
          "error.$": "$.map_error.Error",
          "cause.$": "$.map_error.Cause"
        },
        "parallel_results": []
      },
      "ResultPath": "$.parallel_results_wrapper",
      "Next": "AggregateParallelResultsFromError"
    },
    "AggregateParallelResultsFromError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "🛡️ [Kernel Defense] Map 에러 후 부분 결과 집계",
      "Parameters": {
        "FunctionName": "${SegmentRunnerArn}",
        "InvocationType": "RequestResponse",
        "Payload": {
          "segment_type": "aggregator",
          "parallel_results.$": "$.parallel_results_wrapper.parallel_results",
          "map_error.$": "$.parallel_results_wrapper.error_info",
          "workflow_config.$": "$.state_data.workflow_config",
          "current_state.$": "$.state_data.current_state",
          "ownerId.$": "$.state_data.ownerId",
          "workflowId.$": "$.state_data.workflowId",
          "segment_to_run.$": "$.state_data.segment_to_run",
          "idempotency_key.$": "$.state_data.idempotency_key"
        }
      },
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "final_state.$": "$.Payload.final_state",
        "final_state_s3_path.$": "$.Payload.final_state_s3_path",
        "next_segment_to_run.$": "$.Payload.next_segment_to_run",
        "new_history_logs.$": "$.Payload.new_history_logs"
      },
      "ResultPath": "$.execution_result",
      "Next": "EnsureExecutionResult"
    },
    "EnsureExecutionResult": {
      "Type": "Pass",
      "Comment": "🛡️ [Infrastructure Guard] Ensure execution_result structure exists to prevent 'Invalid Path' errors in subsequent choices",
      "Parameters": {
        "status": "FAILED",
        "final_state.$": "$.state_data.current_state",
        "next_segment_to_run": null,
        "new_history_logs": [],
        "error_info": {
          "error": "ExecutionResultMissing",
          "message": "Aggregator failed to return a valid execution_result"
        }
      },
      "ResultPath": "$.execution_result_default",
      "Next": "MergeExecutionResult"
    },
    "MergeExecutionResult": {
      "Type": "Pass",
      "Comment": "Merge default execution_result with actual result if present",
      "Parameters": {
        "execution_result.$": "States.JsonMerge($.execution_result_default, $.execution_result, false)"
      },
      "ResultPath": "$.execution_result_wrapper",
      "Next": "CleanupMergedState"
    },
    "CleanupMergedState": {
      "Type": "Pass",
      "Comment": "🛡️ [Payload Safety] Remove parallel_results and debris, keeping only state_data and execution_result. Flatten critical metadata to root.",
      "Parameters": {
        "state_data.$": "$.state_data",
        "execution_result.$": "$.execution_result_wrapper.execution_result",
        "ownerId.$": "$.state_data.ownerId",
        "workflowId.$": "$.state_data.workflowId",
        "idempotency_key.$": "$.state_data.idempotency_key"
      },
      "Next": "UpdateStateData"
    },
    "AggregateParallelResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Aggregate results from parallel branches.",
      "Parameters": {
        "FunctionName": "${SegmentRunnerArn}",
        "InvocationType": "RequestResponse",
        "Payload": {
          "segment_type": "aggregator",
          "parallel_results.$": "$.parallel_results",
          "workflow_config.$": "$.state_data.workflow_config",
          "current_state.$": "$.state_data.current_state",
          "ownerId.$": "$.state_data.ownerId",
          "workflowId.$": "$.state_data.workflowId",
          "segment_to_run.$": "$.state_data.segment_to_run",
          "idempotency_key.$": "$.state_data.idempotency_key"
        }
      },
      "ResultSelector": {
        "status.$": "$.Payload.status",
        "final_state.$": "$.Payload.final_state",
        "final_state_s3_path.$": "$.Payload.final_state_s3_path",
        "next_segment_to_run.$": "$.Payload.next_segment_to_run",
        "new_history_logs.$": "$.Payload.new_history_logs"
      },
      "ResultPath": "$.execution_result",
      "Next": "EnsureExecutionResult"
    },
    "UpdateStateData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Comment": "Update state_data with payload size management and S3 offloading for large states",
      "Parameters": {
        "FunctionName": "${StateDataManagerArn}",
        "InvocationType": "RequestResponse",
        "Payload": {
          "action": "update_and_compress",
          "state_data.$": "$.state_data",
          "execution_result.$": "$.execution_result",
          "max_payload_size_kb": 200
        }
      },
      "ResultSelector": {
        "workflow_config.$": "$.Payload.workflow_config",
        "current_state.$": "$.Payload.current_state",
        "state_s3_path.$": "$.Payload.state_s3_path",
        "state_history.$": "$.Payload.state_history",
        "ownerId.$": "$.Payload.ownerId",
        "workflowId.$": "$.Payload.workflowId",
        "segment_to_run.$": "$.Payload.segment_to_run",
        "idempotency_key.$": "$.Payload.idempotency_key",
        "quota_reservation_id.$": "$.Payload.quota_reservation_id",
        "total_segments.$": "$.Payload.total_segments",
        "partition_map.$": "$.Payload.partition_map",
        "partition_map_s3_path.$": "$.Payload.partition_map_s3_path",
        "segment_manifest.$": "$.Payload.segment_manifest",
        "segment_manifest_s3_path.$": "$.Payload.segment_manifest_s3_path",
        "state_durations.$": "$.Payload.state_durations",
        "last_update_time.$": "$.Payload.last_update_time",
        "start_time.$": "$.Payload.start_time",
        "max_loop_iterations.$": "$.Payload.max_loop_iterations",
        "max_branch_iterations.$": "$.Payload.max_branch_iterations",
        "loop_counter.$": "$.Payload.loop_counter",
        "payload_size_kb.$": "$.Payload.payload_size_kb",
        "compression_applied.$": "$.Payload.compression_applied",
        "llm_segments.$": "$.Payload.llm_segments",
        "hitp_segments.$": "$.Payload.hitp_segments",
        "max_concurrency.$": "$.Payload.max_concurrency",
        "distributed_mode.$": "$.Payload.distributed_mode"
      },
      "ResultPath": "$.state_data",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 6,
          "BackoffRate": 2.0,
          "JitterStrategy": "FULL",
          "Comment": "[Concurrency Protection] Lambda 429에 대한 강화된 재시도 - 동시성 슬롯 회복 대기"
        },
        {
          "ErrorEquals": [
            "S3.ServiceException",
            "S3.ThrottlingException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 4,
          "BackoffRate": 2.0,
          "Comment": "S3 스로틀링 및 서비스 오류에 대한 재시도"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "State compression failure - fallback to original Pass logic",
          "ResultPath": "$.compression_error",
          "Next": "UpdateStateDataFallback"
        }
      ],
      "Next": "IsPauseNeeded"
    },
    "UpdateStateDataFallback": {
      "Type": "Pass",
      "Comment": "Fallback state update when compression fails",
      "Parameters": {
        "workflow_config.$": "$.state_data.workflow_config",
        "current_state.$": "$.execution_result.final_state",
        "state_s3_path.$": "$.execution_result.final_state_s3_path",
        "state_history.$": "$.execution_result.new_history_logs",
        "ownerId.$": "$.state_data.ownerId",
        "workflowId.$": "$.state_data.workflowId",
        "segment_to_run.$": "$.state_data.segment_to_run",
        "idempotency_key.$": "$.state_data.idempotency_key",
        "quota_reservation_id.$": "$.state_data.quota_reservation_id",
        "total_segments.$": "$.state_data.total_segments",
        "partition_map.$": "$.state_data.partition_map",
        "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
        "segment_manifest.$": "$.state_data.segment_manifest",
        "segment_manifest_s3_path.$": "$.state_data.segment_manifest_s3_path",
        "max_concurrency.$": "$.state_data.max_concurrency",
        "distributed_mode.$": "$.state_data.distributed_mode",
        "state_durations.$": "$.state_data.state_durations",
        "last_update_time.$": "$.state_data.last_update_time",
        "start_time.$": "$.state_data.start_time",
        "max_loop_iterations.$": "$.state_data.max_loop_iterations",
        "max_branch_iterations.$": "$.state_data.max_branch_iterations",
        "loop_counter.$": "$.state_data.loop_counter",
        "llm_segments.$": "$.state_data.llm_segments",
        "hitp_segments.$": "$.state_data.hitp_segments"
      },
      "ResultPath": "$.state_data",
      "Next": "IsPauseNeeded"
    },
    "IsPauseNeeded": {
      "Type": "Choice",
      "Comment": "Check if the segment execution resulted in a PAUSE or PAUSED_FOR_HITP status",
      "Choices": [
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "PAUSE",
          "Next": "WaitForCallback"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "PAUSED_FOR_HITP",
          "Next": "WaitForCallback"
        }
      ],
      "Default": "CheckForNextSegment"
    },
    "CheckForNextSegment": {
      "Type": "Choice",
      "Comment": "Check if there is a next segment to run, or if workflow is complete. Default safely terminates.",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.execution_result.status",
              "StringEquals": "COMPLETE"
            },
            {
              "Variable": "$.execution_result.next_segment_to_run",
              "IsNull": true
            }
          ],
          "Next": "PublishSucceededEvent"
        },
        {
          "And": [
            {
              "Variable": "$.execution_result.status",
              "StringEquals": "COMPLETE"
            },
            {
              "Not": {
                "Variable": "$.execution_result.next_segment_to_run",
                "IsPresent": true
              }
            }
          ],
          "Next": "PublishSucceededEvent"
        },
        {
          "Variable": "$.execution_result.status",
          "StringEquals": "CONTINUE",
          "Comment": "Explicit CONTINUE status - continue to next segment",
          "Next": "PrepareNextSegment"
        }
      ],
      "Default": "PublishSucceededEvent"
    },
    "WaitForCallback": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Comment": "HITP: TaskToken 저장 → 알림 전송 → 외부 resume 대기",
      "Parameters": {
        "FunctionName": "${StoreTaskTokenArn}",
        "Payload": {
          "TaskToken.$": "$$.Task.Token",
          "conversation_id.$": "$$.Execution.Id",
          "execution_id.$": "$$.Execution.Id",
          "execution_name.$": "$$.Execution.Name",
          "idempotency_key.$": "$.state_data.idempotency_key",
          "workflow_config.$": "$.state_data.workflow_config",
          "current_state.$": "$.execution_result.final_state",
          "state_s3_path.$": "$.execution_result.final_state_s3_path",
          "segment_to_run.$": "$.execution_result.next_segment_to_run",
          "partition_map.$": "$.state_data.partition_map",
          "total_segments.$": "$.state_data.total_segments",
          "ownerId.$": "$.state_data.ownerId",
          "workflowId.$": "$.state_data.workflowId",
          "state_data.$": "$.state_data",
          "MOCK_MODE.$": "$.MOCK_MODE"
        }
      },
      "ResultPath": "$.callback_result",
      "Next": "PrepareStateAfterPause"
    },
    "PrepareStateAfterPause": {
      "Type": "Task",
      "Comment": "[3순위 최적화] Callback 정규화 로직을 Lambda 내부로 흡수. NormalizeCallbackResult, PromoteCallbackPayload/Direct 제거.",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${MergeCallbackArn}",
        "InvocationType": "RequestResponse",
        "Payload": {
          "previous_final_state.$": "$.execution_result.final_state",
          "previous_final_state_s3_path.$": "$.execution_result.final_state_s3_path",
          "callback_result.$": "$.callback_result",
          "state_data.$": "$.state_data",
          "segment_to_run.$": "$.execution_result.next_segment_to_run",
          "ownerId.$": "$.state_data.ownerId",
          "workflowId.$": "$.state_data.workflowId"
        }
      },
      "ResultSelector": {
        "new_current_state.$": "$.Payload.new_current_state",
        "new_state_s3_path.$": "$.Payload.new_state_s3_path",
        "new_state_history.$": "$.Payload.new_state_history",
        "segment_to_run.$": "$.Payload.segment_to_run",
        "workflow_config.$": "$.Payload.workflow_config"
      },
      "ResultPath": "$.current_state_merge",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NotifyExecutionFailure"
        }
      ],
      "Next": "ApplyMergedState"
    },
    "ApplyMergedState": {
      "Type": "Pass",
      "Comment": "Transfer merged new_current_state into state_data.current_state and set segment_to_run",
      "Parameters": {
        "workflow_config.$": "$.state_data.workflow_config",
        "current_state.$": "$.current_state_merge.new_current_state",
        "state_history.$": "$.current_state_merge.new_state_history",
        "state_s3_path.$": "$.current_state_merge.new_state_s3_path",
        "segment_to_run.$": "$.current_state_merge.segment_to_run",
        "partition_map.$": "$.state_data.partition_map",
        "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
        "segment_manifest.$": "$.state_data.segment_manifest",
        "segment_manifest_s3_path.$": "$.state_data.segment_manifest_s3_path",
        "total_segments.$": "$.state_data.total_segments",
        "ownerId.$": "$.state_data.ownerId",
        "workflowId.$": "$.state_data.workflowId",
        "idempotency_key.$": "$.state_data.idempotency_key",
        "quota_reservation_id.$": "$.state_data.quota_reservation_id",
        "max_concurrency.$": "$.state_data.max_concurrency",
        "distributed_mode.$": "$.state_data.distributed_mode",
        "state_durations.$": "$.state_data.state_durations",
        "last_update_time.$": "$.state_data.last_update_time",
        "start_time.$": "$.state_data.start_time",
        "max_loop_iterations.$": "$.state_data.max_loop_iterations",
        "max_branch_iterations.$": "$.state_data.max_branch_iterations",
        "loop_counter.$": "$.state_data.loop_counter",
        "llm_segments.$": "$.state_data.llm_segments",
        "hitp_segments.$": "$.state_data.hitp_segments"
      },
      "ResultPath": "$.state_data",
      "Next": "ExecuteSegment"
    },
    "CheckIfAsyncRequired": {
      "Type": "Choice",
      "Comment": "Check if error type is AsyncLLMRequiredException",
      "Choices": [
        {
          "Variable": "$.async_error.Error",
          "StringEquals": "AsyncLLMRequiredException",
          "Next": "NotifyAsyncLLMProcessing"
        }
      ],
      "Default": "NotifyExecutionFailure"
    },
    "NotifyAsyncLLMProcessing": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "🛡️ [UX] 비동기 LLM 처리 중 알림 - 사용자에게 중단된 것처럼 보이지 않도록",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${WorkflowEventBusArn}",
            "Source": "backend-workflow.lifecycle",
            "DetailType": "WorkflowLifecycleEvent",
            "Detail": {
              "execution_id.$": "$$.Execution.Id",
              "ownerId.$": "$.state_data.ownerId",
              "workflowId.$": "$.state_data.workflowId",
              "segment_to_run.$": "$.state_data.segment_to_run",
              "notification_type": "execution_progress",
              "status": "ASYNC_LLM_PROCESSING",
              "message": "Large language model is processing asynchronously. This may take several minutes."
            }
          }
        ]
      },
      "ResultPath": "$.async_notification_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "Notification failure should not block async processing",
          "ResultPath": "$.async_notification_error",
          "Next": "HandleAsyncLLM"
        }
      ],
      "Next": "HandleAsyncLLM"
    },
    "HandleAsyncLLM": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Comment": "비동기 LLM 처리를 위해 Task Token을 사용하여 대기",
      "Parameters": {
        "FunctionName": "${AsyncLLMHandlerArn}",
        "InvocationType": "RequestResponse",
        "Payload": {
          "TaskToken.$": "$$.Task.Token",
          "execution_id.$": "$$.Execution.Id",
          "idempotency_key.$": "$.state_data.idempotency_key",
          "workflow_config.$": "$.state_data.workflow_config",
          "current_state.$": "$.state_data.current_state",
          "ownerId.$": "$.state_data.ownerId",
          "segment_to_run.$": "$.state_data.segment_to_run",
          "workflowId.$": "$.state_data.workflowId"
        }
      },
      "ResultPath": "$.async_result",
      "Next": "ProcessAsyncResult"
    },
    "ProcessAsyncResult": {
      "Type": "Pass",
      "Comment": "비동기 LLM 결과를 처리하고 다음 세그먼트로 진행. Resume Handler 응답에 대한 방어적 처리 포함.",
      "Parameters": {
        "workflow_config.$": "$.state_data.workflow_config",
        "current_state.$": "States.JsonMerge($.state_data.current_state, $.async_result.Payload, false)",
        "state_s3_path.$": "$.state_data.state_s3_path",
        "partition_map.$": "$.state_data.partition_map",
        "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
        "segment_manifest.$": "$.state_data.segment_manifest",
        "segment_manifest_s3_path.$": "$.state_data.segment_manifest_s3_path",
        "total_segments.$": "$.state_data.total_segments",
        "ownerId.$": "$.state_data.ownerId",
        "segment_to_run.$": "States.MathAdd($.state_data.segment_to_run, 1)",
        "idempotency_key.$": "$.state_data.idempotency_key",
        "quota_reservation_id.$": "$.state_data.quota_reservation_id",
        "workflowId.$": "$.state_data.workflowId",
        "max_concurrency.$": "$.state_data.max_concurrency",
        "distributed_mode.$": "$.state_data.distributed_mode",
        "state_durations.$": "$.state_data.state_durations",
        "last_update_time.$": "$.state_data.last_update_time",
        "start_time.$": "$.state_data.start_time",
        "max_loop_iterations.$": "$.state_data.max_loop_iterations",
        "max_branch_iterations.$": "$.state_data.max_branch_iterations",
        "loop_counter.$": "$.state_data.loop_counter",
        "llm_segments.$": "$.state_data.llm_segments",
        "hitp_segments.$": "$.state_data.hitp_segments"
      },
      "ResultPath": "$.state_data",
      "Next": "CheckLoopLimit"
    },
    "PrepareNextSegment": {
      "Type": "Choice",
      "Comment": "Check if there is a next segment to run (must be a valid number), or if workflow is complete",
      "Choices": [
        {
          "Variable": "$.execution_result.next_segment_to_run",
          "IsNumeric": true,
          "Comment": "next_segment_to_run is a valid number - continue to next segment",
          "Next": "UpdateSegmentToRun"
        }
      ],
      "Default": "PublishSucceededEvent"
    },
    "UpdateSegmentToRun": {
      "Type": "Pass",
      "Comment": "Advance to the next segment when ExecuteSegment signalled CONTINUE, and increment loop counter",
      "Parameters": {
        "workflow_config.$": "$.state_data.workflow_config",
        "current_state.$": "$.execution_result.final_state",
        "state_s3_path.$": "$.execution_result.final_state_s3_path",
        "partition_map.$": "$.state_data.partition_map",
        "partition_map_s3_path.$": "$.state_data.partition_map_s3_path",
        "segment_manifest.$": "$.state_data.segment_manifest",
        "segment_manifest_s3_path.$": "$.state_data.segment_manifest_s3_path",
        "total_segments.$": "$.state_data.total_segments",
        "ownerId.$": "$.state_data.ownerId",
        "segment_to_run.$": "$.execution_result.next_segment_to_run",
        "idempotency_key.$": "$.state_data.idempotency_key",
        "quota_reservation_id.$": "$.state_data.quota_reservation_id",
        "workflowId.$": "$.state_data.workflowId",
        "max_concurrency.$": "$.state_data.max_concurrency",
        "distributed_mode.$": "$.state_data.distributed_mode",
        "state_durations.$": "$.state_data.state_durations",
        "last_update_time.$": "$.state_data.last_update_time",
        "start_time.$": "$.state_data.start_time",
        "state_history.$": "$.state_data.state_history",
        "max_loop_iterations.$": "$.state_data.max_loop_iterations",
        "max_branch_iterations.$": "$.state_data.max_branch_iterations",
        "loop_counter.$": "States.MathAdd($.state_data.loop_counter, 1)",
        "llm_segments.$": "$.state_data.llm_segments",
        "hitp_segments.$": "$.state_data.hitp_segments"
      },
      "ResultPath": "$.state_data",
      "Next": "CheckLoopLimit"
    },
    "CheckLoopLimit": {
      "Type": "Choice",
      "Comment": "Safety valve: Check loop counter to prevent infinite loops (dynamic limit based on workflow complexity)",
      "Choices": [
        {
          "Variable": "$.state_data.loop_counter",
          "NumericGreaterThanPath": "$.state_data.max_loop_iterations",
          "Next": "LoopLimitExceeded"
        }
      ],
      "Default": "ExecuteSegment"
    },
    "LoopLimitExceeded": {
      "Type": "Fail",
      "Error": "LoopLimitExceeded",
      "CausePath": "States.Format('Workflow execution exceeded maximum loop iterations ({}). Possible infinite loop detected. Current: {}, Max: {}', $.state_data.max_loop_iterations, $.state_data.loop_counter, $.state_data.max_loop_iterations)"
    },
    "PublishSucceededEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "Publish a domain event to EventBridge indicating the workflow succeeded",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${WorkflowEventBusArn}",
            "Source": "backend-workflow.lifecycle",
            "DetailType": "WorkflowLifecycleEvent",
            "Detail": {
              "execution_id.$": "$$.Execution.Id",
              "conversation_id.$": "$$.Execution.Id",
              "ownerId.$": "$.state_data.ownerId",
              "workflowId.$": "$.state_data.workflowId",
              "status": "COMPLETED",
              "notification_type": "execution_progress",
              "message": "Workflow completed successfully",
              "state_data.$": "$",
              "final_result.$": "$.state_data.current_state"
            }
          }
        ]
      },
      "ResultPath": "$.event_publish_result",
      "Next": "PrepareSuccessOutput"
    },
    "PrepareSuccessOutput": {
      "Type": "Pass",
      "Comment": "[Fix] 최종 출력에 execution_result 및 가드레일 메트릭 포함",
      "Parameters": {
        "status": "SUCCEEDED",
        "execution_id.$": "$$.Execution.Id",
        "ownerId.$": "$.state_data.ownerId",
        "workflowId.$": "$.state_data.workflowId",
        "final_state.$": "$.execution_result.final_state",
        "final_state_s3_path.$": "$.execution_result.final_state_s3_path",
        "state_s3_path.$": "$.execution_result.final_state_s3_path",
        "execution_result.$": "$.execution_result",
        "loop_counter.$": "$.state_data.loop_counter",
        "max_loop_iterations.$": "$.state_data.max_loop_iterations",
        "llm_segments.$": "$.state_data.llm_segments",
        "hitp_segments.$": "$.state_data.hitp_segments",
        "start_time.$": "$.state_data.start_time",
        "state_durations.$": "$.state_data.state_durations",
        "total_segments.$": "$.state_data.total_segments"
      },
      "Next": "NotifyExecutionSuccess"
    },
    "NotifyExecutionSuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "Publish workflow success event to trigger ExecutionProgressNotifierFunction",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${WorkflowEventBusArn}",
            "Source": "backend-workflow",
            "DetailType": "WorkflowExecutionSucceeded",
            "Detail": {
              "execution_id.$": "$$.Execution.Id",
              "conversation_id.$": "$$.Execution.Id",
              "ownerId.$": "$.ownerId",
              "workflowId.$": "$.workflowId",
              "status": "SUCCEEDED",
              "notification_type": "execution_progress",
              "message": "Workflow execution completed successfully",
              "final_state.$": "$.final_state",
              "final_state_s3_path.$": "$.final_state_s3_path",
              "total_segments.$": "$.total_segments",
              "start_time.$": "$.start_time"
            }
          }
        ]
      },
      "ResultPath": "$.success_notification_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "EventBridge publish failure should not stop workflow success",
          "ResultPath": "$.success_notification_error",
          "Next": "WorkflowSucceeded"
        }
      ],
      "Next": "WorkflowSucceeded"
    },
    "WorkflowSucceeded": {
      "Type": "Succeed",
      "Comment": "워크플로우가 성공적으로 완료되었습니다. - 최종 출력에 S3 경로 포함"
    },
    "NotifyWorkflowCompleted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "🚀 Hybrid Mode: Publish completion event for MAP_REDUCE/BATCHED modes",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${WorkflowEventBusArn}",
            "Source": "backend-workflow.lifecycle",
            "DetailType": "WorkflowLifecycleEvent",
            "Detail": {
              "execution_id.$": "$$.Execution.Id",
              "conversation_id.$": "$$.Execution.Id",
              "ownerId.$": "$.state_data.ownerId",
              "workflowId.$": "$.state_data.workflowId",
              "status": "COMPLETED",
              "notification_type": "execution_progress",
              "message": "Workflow completed via hybrid distributed mode",
              "distributed_strategy.$": "$.state_data.distributed_strategy",
              "final_state.$": "$.aggregation_result.final_state"
            }
          }
        ]
      },
      "ResultPath": "$.completion_notification_result",
      "Next": "PrepareHybridModeOutput"
    },
    "PrepareHybridModeOutput": {
      "Type": "Pass",
      "Comment": "🚀 Hybrid Mode: Prepare final output for MAP_REDUCE/BATCHED execution",
      "Parameters": {
        "status": "SUCCEEDED",
        "execution_id.$": "$$.Execution.Id",
        "ownerId.$": "$.state_data.ownerId",
        "workflowId.$": "$.state_data.workflowId",
        "final_state.$": "$.aggregation_result.final_state",
        "distributed_strategy.$": "$.state_data.distributed_strategy",
        "distributed_strategy_detail.$": "$.state_data.distributed_strategy_detail",
        "total_segments.$": "$.state_data.total_segments",
        "start_time.$": "$.state_data.start_time"
      },
      "Next": "WorkflowSucceeded"
    },
    "NotifyExecutionFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Comment": "[Fix] 워크플로우 실패 이벤트 발행 - 원본 실행 입력에서 안전하게 참조 (Catch 시에도 동작)",
      "Parameters": {
        "Entries": [
          {
            "EventBusName": "${WorkflowEventBusArn}",
            "Source": "backend-workflow.lifecycle",
            "DetailType": "WorkflowLifecycleEvent",
            "Detail": {
              "event_type": "FAILED",
              "event_version": "1.0",
              "trace_id.$": "$$.Execution.Id",
              "timestamp.$": "$$.State.EnteredTime",
              "TaskToken": "EXECUTION_FAILURE",
              "notification_type": "execution_progress",
              "status": "FAILED",
              "message": "Workflow execution failed",
              "ownerId.$": "$$.Execution.Input.ownerId",
              "userId.$": "$$.Execution.Input.ownerId",
              "workflowId.$": "$$.Execution.Input.workflowId",
              "error.$": "States.JsonToString($)"
            }
          }
        ]
      },
      "ResultPath": "$.failure_notification_result",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "EventBridge publish failure should not stop workflow, ensure failure notification result exists",
          "ResultPath": "$.failure_notification_error",
          "Next": "WorkflowFailed"
        }
      ],
      "Next": "WorkflowFailed"
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Comment": "워크플로우가 실패했습니다."
    }
  }
}