analemma-workflow-os/backend/src/mission_simulator_workflow.json
{
    "Comment": "Mission Simulator Workflow: Orchestrates E2E tests using a Parallel Map state",
    "StartAt": "CheckScenarios",
    "States": {
        "CheckScenarios": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.scenarios",
                    "IsPresent": true,
                    "Next": "InitializeSimulator"
                }
            ],
            "Default": "SetDefaultScenarios"
        },
        "SetDefaultScenarios": {
            "Type": "Pass",
            "Parameters": {
                "scenarios": [
                    "HAPPY_PATH",
                    "PII_TEST",
                    "LARGE_PAYLOAD",
                    "ERROR_HANDLING",
                    "MAP_AGGREGATOR",
                    "LOOP_LIMIT",
                    "REALTIME_DISTILLER",
                    "DLQ_RECOVERY",
                    "COST_GUARDRAIL",
                    "ATOMICITY",
                    "API_CONNECTIVITY",
                    "WEBSOCKET_CONNECT",
                    "AUTH_FLOW",
                    "REALTIME_NOTIFICATION",
                    "IDEMPOTENCY",
                    "CANCELLATION",
                    "CORS_SECURITY",
                    "STANDARD_HAPPY_PATH",
                    "STANDARD_ERROR_HANDLING",
                    "STANDARD_IDEMPOTENCY",
                    "MULTI_TENANT_ISOLATION",
                    "CONCURRENT_BURST",
                    "XRAY_TRACEABILITY",
                    "HITP_TEST",
                    "PARALLEL_GROUP_TEST",
                    "HYPER_REPORT",
                    "MULTIMODAL_VISION",
                    "HYPER_STRESS_V3",
                    "MULTIMODAL_COMPLEX"
                ]
            },
            "Next": "InitializeSimulator"
        },
        "InitializeSimulator": {
            "Type": "Pass",
            "Parameters": {
                "simulator_execution_id.$": "$$.Execution.Name",
                "start_time.$": "$$.State.EnteredTime",
                "scenarios.$": "$.scenarios"
            },
            "Next": "SetDefaults"
        },
        "SetDefaults": {
            "Type": "Pass",
            "Parameters": {
                "simulator_execution_id.$": "$.simulator_execution_id",
                "start_time.$": "$.start_time",
                "scenarios.$": "$.scenarios",
                "max_concurrency": 2
            },
            "ResultPath": "$.defaults",
            "Next": "MergeDefaults"
        },
        "MergeDefaults": {
            "Type": "Pass",
            "Parameters": {
                "simulator_execution_id.$": "$.simulator_execution_id",
                "start_time.$": "$.start_time",
                "scenarios.$": "$.scenarios",
                "max_concurrency.$": "States.MathAdd($.defaults.max_concurrency, 0)"
            },
            "Next": "ParallelExecution"
        },
        "ParallelExecution": {
            "Type": "Map",
            "ItemsPath": "$.scenarios",
            "Parameters": {
                "scenario.$": "$$.Map.Item.Value",
                "simulator_execution_id.$": "$.simulator_execution_id"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "INLINE"
                },
                "StartAt": "PrepareTest",
                "States": {
                    "PrepareTest": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "TimeoutSeconds": 30,
                        "Parameters": {
                            "FunctionName": "${TriggerTestFunction}",
                            "Payload": {
                                "scenario.$": "$.scenario",
                                "simulator_execution_id.$": "$.simulator_execution_id"
                            }
                        },
                        "ResultSelector": {
                            "targetArn.$": "$.Payload.targetArn",
                            "name.$": "$.Payload.name",
                            "input.$": "$.Payload.input",
                            "scenario.$": "$.Payload.scenario",
                            "targetType.$": "$.Payload.targetType"
                        },
                        "ResultPath": "$.prep_result",
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException"
                                ],
                                "IntervalSeconds": 5,
                                "MaxAttempts": 6,
                                "BackoffRate": 2.0,
                                "JitterStrategy": "FULL",
                                "Comment": "[Concurrency Protection] Lambda 429 retry - Mission Simulator parallel execution protection"
                            }
                        ],
                        "Catch": [
                            {
                                "ErrorEquals": ["States.ALL"],
                                "ResultPath": "$.prep_error",
                                "Next": "HandlePrepError"
                            }
                        ],
                        "Next": "RouteTestType"
                    },
                    "HandlePrepError": {
                        "Type": "Pass",
                        "Parameters": {
                            "scenario.$": "$.scenario",
                            "prep_result": {
                                "targetType": "SKIP",
                                "scenario.$": "$.scenario",
                                "error.$": "$.prep_error"
                            },
                            "exec_result": {
                                "status": "SKIPPED",
                                "error": "PrepareTest failed"
                            }
                        },
                        "Next": "VerifyResult"
                    },
                    "RouteTestType": {
                        "Type": "Choice",
                        "Choices": [
                            {
                                "Variable": "$.prep_result.targetType",
                                "StringEquals": "SFN",
                                "Next": "RunSFNTest"
                            },
                            {
                                "Variable": "$.prep_result.targetType",
                                "StringEquals": "LOCAL",
                                "Next": "RunLocalTest"
                            },
                            {
                                "Variable": "$.prep_result.targetType",
                                "StringEquals": "SKIP",
                                "Next": "VerifyResult"
                            }
                        ],
                        "Default": "RunSFNTest"
                    },
                    "RunSFNTest": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::states:startExecution.sync:2",
                        "TimeoutSeconds": 600,
                        "Comment": "10-minute timeout - Distributed orchestrator takes time due to multiple segment executions",
                        "Parameters": {
                            "StateMachineArn.$": "$.prep_result.targetArn",
                            "Name.$": "$.prep_result.name",
                            "Input.$": "$.prep_result.input"
                        },
                        "ResultSelector": {
                            "output.$": "$.Output",
                            "status.$": "$.Status",
                            "executionArn.$": "$.ExecutionArn"
                        },
                        "ResultPath": "$.exec_result",
                        "Catch": [
                            {
                                "ErrorEquals": [
                                    "States.ALL"
                                ],
                                "ResultPath": "$.exec_result",
                                "Next": "VerifyResult"
                            }
                        ],
                        "Next": "VerifyResult"
                    },
                    "RunLocalTest": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "TimeoutSeconds": 60,
                        "Parameters": {
                            "FunctionName": "${LocalRunnerFunction}",
                            "Payload": {
                                "scenario.$": "$.prep_result.scenario"
                            }
                        },
                        "ResultSelector": {
                            "output.$": "$.Payload.output",
                            "status.$": "$.Payload.status"
                        },
                        "ResultPath": "$.exec_result",
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException"
                                ],
                                "IntervalSeconds": 5,
                                "MaxAttempts": 6,
                                "BackoffRate": 2.0,
                                "JitterStrategy": "FULL",
                                "Comment": "[Concurrency Protection] Lambda 429 retry"
                            }
                        ],
                        "Catch": [
                            {
                                "ErrorEquals": ["States.ALL"],
                                "ResultPath": "$.exec_result",
                                "Next": "VerifyResult"
                            }
                        ],
                        "Next": "VerifyResult"
                    },
                    "VerifyResult": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "TimeoutSeconds": 30,
                        "Parameters": {
                            "FunctionName": "${VerifyResultFunction}",
                            "Payload.$": "$"
                        },
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException"
                                ],
                                "IntervalSeconds": 5,
                                "MaxAttempts": 6,
                                "BackoffRate": 2.0,
                                "JitterStrategy": "FULL",
                                "Comment": "[Concurrency Protection] Lambda 429 retry"
                            }
                        ],
                        "Catch": [
                            {
                                "ErrorEquals": ["States.ALL"],
                                "ResultPath": "$.verify_error",
                                "Next": "VerifyFallback"
                            }
                        ],
                        "End": true
                    },
                    "VerifyFallback": {
                        "Type": "Pass",
                        "Parameters": {
                            "Payload": {
                                "passed": false,
                                "scenario.$": "$.prep_result.scenario",
                                "error": "VerifyResult Lambda failed",
                                "error_details.$": "$.verify_error"
                            }
                        },
                        "End": true
                    }
                }
            },
            "MaxConcurrencyPath": "$.max_concurrency",
            "ResultPath": "$.map_results",
            "Next": "GenerateReport"
        },
        "GenerateReport": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 60,
            "Parameters": {
                "FunctionName": "${AggregateReportFunction}",
                "Payload": {
                    "results.$": "$.map_results",
                    "simulator_execution_id.$": "$.simulator_execution_id"
                }
            },
            "ResultPath": "$.report_result",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 5,
                    "MaxAttempts": 6,
                    "BackoffRate": 2.0,
                    "JitterStrategy": "FULL",
                    "Comment": "[Concurrency Protection] Lambda 429 retry"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.report_error",
                    "Next": "GlobalCleanup"
                }
            ],
            "Next": "GlobalCleanup"
        },
        "GlobalCleanup": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "TimeoutSeconds": 30,
            "Parameters": {
                "FunctionName": "${CleanupServiceFunction}",
                "Payload": {
                    "simulator_execution_id.$": "$.simulator_execution_id",
                    "results.$": "$.map_results"
                }
            },
            "ResultPath": "$.cleanup_result",
            "Comment": "Specify ResultPath to preserve existing data (simulator_execution_id, map_results)",
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 5,
                    "MaxAttempts": 6,
                    "BackoffRate": 2.0,
                    "JitterStrategy": "FULL",
                    "Comment": "[Concurrency Protection] Lambda 429 retry"
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": ["States.ALL"],
                    "ResultPath": "$.cleanup_error",
                    "Next": "SimulatorComplete"
                }
            ],
            "Next": "SimulatorComplete"
        },
        "SimulatorComplete": {
            "Type": "Pass",
            "Parameters": {
                "status": "COMPLETED",
                "simulator_execution_id.$": "$.simulator_execution_id",
                "map_results.$": "$.map_results",
                "cleanup_summary.$": "$.cleanup_result.Payload"
            },
            "End": true
        }
    }
}